[2019-10-03 16:14] jessicaschilling opened #324 "Close-reading audit: Identification phase"
**_This issue is part of [Epic 3C: Content-focused "close reading" audit](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++%22epic+3c%22)._**

Identify all materials to be considered "IPFS documentation" for purposes of conducting a close-reading audit. This could include ...
- Contents of existing docs.ipfs.io site
- Main ipfs.io site (under the assumption that such high

[2019-10-03 16:15] jessicaschilling opened #325 "Close-reading audit: Research phase"
**_This issue is part of [Epic 3C: Content-focused "close reading" audit](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++%22epic+3c%22)._**

Conduct a close reading of all the items identified in #324, and generate notes along the way (to be used in creating the report under #326). Make sure that notes include all parameters that we wish to report upon under #326. Also,

[2019-10-03 16:16] jessicaschilling opened #326 "Create close-reading recommendation/action report"
**_This issue is part of [Epic 3C: Content-focused "close reading" audit](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++%22epic+3c%22)._**

Create a report on the close-reading audit effort, including ...
- Summary of analysis
- Detailed analysis
- Specific recommendations on next steps
- Capture these recommendations in GitHub issues for actionable next steps

[2019-10-03 16:23] jessicaschilling opened #327 "Set up beta repo with VuePress app"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

Set up a temporary docs beta repo with a boilerplate VuePress app. Note that the contents of this beta repo will eventually be moved into the main ipfs/docs repo, so issues should continue to be placed in ipfs/docs, not the new repo.

[2019-10-03 16:24] jessicaschilling opened #328 "Set up CI and deployment for beta site"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

Set up deployment and continuous integration for docs beta site.

[2019-10-03 16:31] jessicaschilling opened #329 "Create hi-fi wireframes for docs beta theme, with css adjustments"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

Create wireframes for theming the docs beta site, keeping in mind ...
- How deep we want to go into full customization vs out-of-the-box theming
- Affordances for space required by future features

[2019-10-03 16:33] jessicaschilling opened #330 "Create high-fidelity visual artifacts for docs beta theme"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

Create the high-fidelity visual artifacts for the docs beta theme based on the wireframes created in #329. Front-end implementation lives in #332.

[2019-10-03 16:34] jessicaschilling opened #331 "Define minimum features set for beta release"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

Use our existing [prioritized features list](https://docs.google.com/spreadsheets/d/1YJ8yuzoNeunVr3ftvm7x2nIKsj7IlTrsfuy71ZnGg6Y/edit#gid=785339355) to generate a realistic features set for initial beta release. Note that these features will then eac

[2019-10-03 16:40] jessicaschilling opened #332 "Implement docs beta theme"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

Front-end implementation of the visual design artifacts for docs beta theming created under #330, including colors, fonts, etc.

[2019-10-03 16:41] jessicaschilling opened #333 "Set up theme configuration and core plug-ins for docs beta"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

Initial setup of theme configuration and core plug-ins for docs beta. Further tweaks on these live under separate issues:
- #329 for wireframing the theme
- #330 for high-fidelity artifacts to build out wireframes
- #332 for front-end implementation

[2019-10-03 16:41] jessicaschilling opened #334 "Create content placeholders related to new IA"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

"Nothing here! Want to build it yourself?"

[2019-10-03 16:42] jessicaschilling opened #335 "Integrate localized search functionality in docs beta"

[2019-10-03 16:43] jessicaschilling opened #336 "Research Algolia search integration"
Research whether Algolia is a good fit for search integration for the docs VuePress site, particularly keeping in mind the benefits and/or drawbacks for offline search. If integrating Algolia emerges as a recommendation from this issue, capture the integration effort in a separate issue.

[2019-10-03 16:44] jessicaschilling opened #337 "Define/configure beta-site markdown extensions"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

Define and configure markdown extensions for docs beta, keeping in mind ...
- Parameters TBD

[2019-10-03 16:45] jessicaschilling opened #338 "Define languages to support in initial launch of docs beta"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

Define the languages that we feel able to support in the initial launch of docs beta, keeping in mind our primary audience. Initial thoughts:
- English
- Chinese
- Which European languages?

[2019-10-03 16:46] jessicaschilling opened #339 "Research improved HTTP API presentation"
Research the best ways to present API reference material, keeping in mind:
- Searchability
- Ability to direct-link to specific calls (for use in, for example, replies in forum posts)
- Showing only the relevant information at the right time (i.e. judiciously applied expand/collapse that doesn't break search)

Implementation of this issue lives under #225.

[2019-10-03 16:48] jessicaschilling opened #340 "Investigate automated generation of beta-site content related to CLI commands"
In the legacy docs site, CLI command reference pages are auto-generated from their respective repos. Investigate best way to do this in VuePress, keeping in mind concerns raised by @Stebalien in #227 and overall UX of the content that is generated.

Implementation of this effort lives in issue #227.

[2019-10-03 16:53] jessicaschilling opened #341 "Design/implement callout links between legacy and beta pages"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

Design and implement banners or similar callouts to appear on both the legacy and beta docs sites:
- On legacy site, invite users to view the same content on the beta site
- On beta site, inform users that they're on a beta, with opportunities to ...

[2019-10-03 16:54] jessicaschilling opened #342 "Design/implement landing page for beta-site content stubs"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

The new nav structure being designed for the docs beta (see #313) will result in stub pages for which content doesn't yet exist. Until it does, create and implement a common landing page to convey ...
- The content that should be on this page doesn't

[2019-10-03 16:55] jessicaschilling opened #343 "Implement initial SEO strategy for beta site launch"
Add basic metadata to each content page so friendly links for social media cards work -- see https://vuepress.vuejs.org/guide/frontmatter.html for info on VuePress frontmatter
- Remember titles get truncated on Twitter at 70 chars
- ~~Field: `description` is critical.~~ It's actually the description sub-field inside the `meta` field. Shorter the better, but no more than circa 150 chars (or 200 if

[2019-10-03 16:57] jessicaschilling opened #344 "Optimise beta site (holding-pen issue)"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

This issue is a holding pen for investigating general optimisations to docs beta site, including ...
- Offline availability
- Load time
- Others TBD

This issue will require creation of additional issues for implementing optimisations once they're de

[2019-10-03 16:58] jessicaschilling opened #345 "Port existing docs content to beta-site repo"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle)._**

Port content from existing docs site repo to beta-site repo, adjusting or adding front matter and other metadata as necessary.

[2019-10-03 17:00] jessicaschilling opened #346 "Test/refine content entry mechanism for docs beta"
**_This issue is part of [Epic 1A: Launch docs beta](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++epic+in%3Atitle) and [Epic 2C: Docs beta usability testing](https://github.com/ipfs/docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++%22epic+2c%22+)._**

Evaluate the overall UX of the mechanism (GitHub/VuePress workflow) for creating and modifying content that appears

[2019-10-03 17:09] jessicaschilling opened #347 "Define and add tagging taxonomy to docs content pages"
Define and implement a standard set of tags to use in front matter of the markdown documents that feed docs beta-site content, with an aim to this vocabulary later forming a taxonomy to be used for deeper feature integration (e.g. glossary term highlighting, automatically generated links to external resources, etc).

[2019-10-03 20:37] jessicaschilling commented on #222
Hired! Welcome, @mohnjatthews!

[2019-10-03 20:37] #222 closed

[2019-10-03 20:37] jessicaschilling commented on #181
Hired, and closed!

[2019-10-03 20:37] #181 closed

[2019-10-03 22:12] jessicaschilling commented on #274
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:38] jessicaschilling commented on #326
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:38] jessicaschilling commented on #325
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:38] jessicaschilling commented on #324
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:39] jessicaschilling commented on #317
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:40] jessicaschilling commented on #312
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:40] jessicaschilling commented on #310
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:41] jessicaschilling commented on #309
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:41] jessicaschilling commented on #308
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:42] jessicaschilling commented on #304
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:42] jessicaschilling commented on #296
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:43] jessicaschilling commented on #293
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:43] jessicaschilling commented on #292
cc @mohnjatthews, since I can't assign him yet 😊
(Don't panic; we don't expect you to fix all these in Q4!)

[2019-10-03 22:44] jessicaschilling commented on #291
cc @mohnjatthews, since I can't assign him yet 😊
(Don't panic; we don't expect you to fix all these in Q4!)

[2019-10-03 22:45] jessicaschilling commented on #286
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:45] jessicaschilling commented on #285
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-03 22:45] jessicaschilling commented on #284
cc @mohnjatthews, since I can't assign him yet 😊

[2019-10-04 05:40] jessicaschilling commented on #227
See issue #340 for the other half of this effort: Investigating the best way to get this done in VuePress.

[2019-10-04 05:45] jessicaschilling commented on #339
Original notes from issue #225, circa Aug 2019:

IPFS HTTP API section is hard to search and parse. The HTTP API section is currently a long list of CLI commands that one has to endlessly scroll through. It is hard to scan and quickly search for a command and argument.

When we choose our [future framework](https://github.com/ipfs/docs/issues/198), we should find a platform that will help us organ

[2019-10-04 05:47] jessicaschilling commented on #339
Also see https://github.com/ipfs/docs/issues/225#issuecomment-516990851 for further thoughts.

[2019-10-04 05:54] jessicaschilling commented on #334
Closing this issue, as it's a duplicate.

[2019-10-04 05:54] #334 closed

[2019-10-04 06:51] jessicaschilling commented on #313
Closing, as it's effectively a duplicate of #273.

[2019-10-04 06:51] #313 closed

[2019-10-04 17:57] ericronne commented on #305
Removed #304 dependency, since i'm drafting this content in visual form. I'm "wiring" it up in the context of the current site design, in order to hammer out the interaction details in a realistic way in advance of the beta-site design. It doesn't seem like a good use of time to implement this on the current docs site, but i defer to @cwaring on that point.

This issue should remain open until the

[2019-10-04 18:50] ericronne commented on #305
## Default
_Here i've promoted the "Edit this page in GitHub" feature out from footer-bound obscurity, giving frustrated-but-motivated users handy access to the source file._

**Content**
Was this information helpful?
[ Yes ]  [ No ]
Edit this page on GitHub

![was this helpful](https://user-images.githubusercontent.com/9259185/66229067-9f1dca00-e6a6-11e9-90d2-514aa78cdc18.png)

## "No" clicked
_F

[2019-10-04 18:51] ericronne commented on #304
Drafting "in situ" over at #305, will update this once content is finalized.

[2019-10-04 20:06] jessicaschilling commented on #305
This is excellent. Does @cwaring have room to put this on a boat? Is the boat too full?

[2019-10-07 16:19] ericronne commented on #273
Here's the latest revision. Super curious to hear thoughts from all corners! 🙏

https://workflowy.com/s/install-ipfs/L0Y3pd3rQmla8Cmd

[2019-10-07 16:29] jessicaschilling commented on #273
@ericronne I think that's a submenu. What's the link for the full menu?

[2019-10-07 16:29] ericronne commented on #273
fixed 🔨

[2019-10-07 16:35] jessicaschilling commented on #273
@ericronne I moved the "with a script tag" example to the top of the in-browser examples, since it's the most basic, but everything looks good overall. I think we'll gain more at this point by shipping it in the beta and testing than we will iterating over it in list form.

One caveat: We should probably huddle on getting the text tweaked for consistency, clarity etc. Maybe let's just do that in o

[2019-10-07 16:37] jessicaschilling commented on #299
Moving this one to the docs repo for easier tracking, and also since the content will eventually end up there.

[2019-10-07 16:42] jessicaschilling commented on #299
Explaining a little deeper for the benefit of @mohnjatthews ...

1. There are a bunch of instructional examples deep in the repo for the main ipfs.io website, where the docs once lived. See here: https://github.com/ipfs/website/tree/master/static/docs/examples . We'll need to go through these, see which ones have already been ported to docs.ipfs.io, and which ones should be (which includes updatin

[2019-10-07 16:50] daviddias commented on #300
Update: I started working on this example. Code being written here https://github.com/ipfs/go-ipfs/pull/6695

[2019-10-07 16:51] jessicaschilling commented on #300
Awesome, please keep us posted 😊

[2019-10-07 16:58] jessicaschilling opened #348 "Integration strategy and prioritization for go-ipfs docs"
This issue is a holding pen for determining best steps forward for two things:
1. Integration of go-ipfs docs content in docs.ipfs.io (this is actually probably covered in #299)
2. Prioritization for docs-related content fixes in the go-ipfs repo overall: https://github.com/ipfs/go-ipfs/issues?q=is%3Aopen+is%3Aissue+label%3Adocs-ipfs

It'll need to start off as a discussion between @mohnjatthews a

[2019-10-08 13:19] ericronne commented on #342
I'll start wiring this up. Additionally, we _might_ be able to populate some of these pages with very-rough "starter content" — or at least simple "Click at Own Risk, There Be Demons" — pointers to third-party material, where a user might be able to find help until the content is ready to launch. I've started a hackmd doc to organize information surrounding all `NEW` content which needs to be crea

[2019-10-08 13:22] jessicaschilling commented on #342
Thank you for linking to the related issues!

[2019-10-08 14:23] cwaring commented on #342
A cute (animated) illustration will be the secret ingredient here. Diffuse disappointment with the delight of warm n' fuzzies™

[2019-10-08 15:04] terichadbourne commented on #294
Heads up that I'm deleting this and replacing with an epic that lives in the ProtoSchool repo so I can work while filtered.

[2019-10-08 15:04] #294 closed

[2019-10-08 15:08] terichadbourne commented on #295
closing and replacing with an epic that lives in the protoschool repo to support filtering

[2019-10-08 15:22] terichadbourne commented on #295
Please use https://github.com/ProtoSchool/protoschool.github.io/issues/307 instead for Epic 4B.

[2019-10-08 15:24] terichadbourne commented on #296
Notes on IPFS Camp content are being collected here: https://github.com/protoschool/protoschool.github.io/issues/261

[2019-10-09 13:33] jessicaschilling commented on #349
This issue essentially encapsulates the docs WG’s Q3 and Q4 work, so closing with the suggestion that anyone following have a look at this repo’s readme for an explanation of current endeavors and prior foundation (particularly using our goal-based personae to prioritize writing efforts in order to impact the largest number of users).

Note that the inspirational links in this thread have been cap

[2019-10-09 13:33] #349 closed

[2019-10-09 14:15] jessicaschilling commented on #339
Also see #69 for additional background.

[2019-10-09 14:40] jessicaschilling opened #350 "Create first-round documentation guidelines/pointers"
We're doing awesome work in Q4 to ramp up the docs effort overall, but one item in the near term that can provide a lot of value right away is to create a simple, concise guide to help developers create first-round documentation for net-new work, or document incremental improvements on existing work.

This can be presented alongside the IPFS [contributor guidelines](https://github.com/ipfs/communi

[2019-10-09 15:39] vasa-develop commented on #162
Is this the point that we want to convey to the readers? Or is this a part of the bigger picture?

[2019-10-09 16:05] jessicaschilling commented on #162
The bigger picture would ideally be helping the reader understand when to use DNSLink and when to use IPNS ... some scenarios may favor one, some another.

[2019-10-10 14:22] ericronne commented on #273
For any without a workflowy account, the full structure is laid out in a doc as well …
**[Docs IA in outline form](https://docs.google.com/document/d/1jbZCpcpXswe1zDBeKPVwEbNcHxG47rG3q32L20bo3Qc/edit?usp=sharing)**

[2019-10-10 20:05] ericronne commented on #345
**First we'll need a template …**
- [ ] Create a set of markdown templates for content, which maps to new IA (#273) @cwaring

**Then we can portage the content 🛶…**
- [ ] Populate templates with all current docs content refer  @ericronne / @jessicaschilling
  - [ ] What is IPFS?
  - [ ] How IPFS Works
  - [ ] Content-addressed file storage
  - [ ] Content addressing and CIDs
  - [ ] Cryptographic

[2019-10-11 06:41] samajammin commented on #302
Hi folks! This is super valuable, thanks or documenting this. I'm considering a similar evaluation for ethereum.org. I just requested access to [your evaluation spreadsheet](https://docs.google.com/spreadsheets/d/1KuLxE3Sq0Ju95f3FyLUQQA1vr3N-Se-dZcLyiCOqGz8/edit#gid=0) - hope it's ok to open up view access. Thanks again!

[2019-10-11 19:13] ericronne commented on #342
Here's a somewhat high-fi draft for discussion. Let's discuss the content here, first and foremost. This doesn't represent the design,  but i'm curious to hear feedback on the illustration. Time permitting, it would be fun to animate it.

![no-content-here-page](https://user-images.githubusercontent.com/9259185/66677783-094ae780-ec30-11e9-8ba7-51a9599269d7.png)

[2019-10-11 20:30] jessicaschilling commented on #342
I love this so much 😄
A few thoughts?
- Under "Other resources", I believe it's "that" rather than "which" (since not preceded by comma)
- Under "Help us write this page", we may want to lead with something that's more explicitly community-powered: "Community contributors are invaluable to making IPFS docs great!" rather than "work with" language? We may also want to be more specific at the end: "

[2019-10-11 20:32] jessicaschilling commented on #302
@cwaring -- pinging you per @samajammin's note above. Thanks!

[2019-10-11 20:47] jessicaschilling opened #351 "Docs beta launch communications plan"
## Docs beta launch communications plan

_Note: These are taken from the instructions in the [IPFS Q4 Comms Plan](https://docs.google.com/document/d/1nk_I9YzZcnkyoK-lVLFZ-m4Qce-_JtOlfDbtGYbfY0k/edit#)._

### 3 weeks before launch _(c. 27 Nov)_
- [x] Clone and fill in the comms doc template, highlighting the core messages (new interface and nav, improved search, but content on parity with legacy si

[2019-10-11 21:12] jessicaschilling commented on #318
I contacted Canny to see if we qualified for special pricing as an open-source project. Will update as I learn more ...

In the meantime, screenshot of their full-price pricing:
![image](https://user-images.githubusercontent.com/1507828/66685355-8169db00-ec39-11e9-8b01-5626d0a3dd72.png)

[2019-10-14 10:33] cwaring commented on #302
Hi @samajammin, great to see you here! I've invited you to the spreadsheet - it's more raw than this evaluation but hopefully it will help you get a head start on this process too. I'm more than happy to help and it would be great to share additional learnings as we get deeper into the transition so I'm keen to keep this conversation open :)

[2019-10-14 12:39] cwaring commented on #318
Great, thanks @jessicaschilling. I agree their base pricing a bit too steep so hopefully that have an OSS plan.

[2019-10-14 15:26] ericronne commented on #305
Regardless of whether we implement the expanded-feedback feature on the current site, let's go ahead and shift the "Edit this page on github" link up on the page (per our weekly chat this morning), thusly …

![move the link](https://user-images.githubusercontent.com/9259185/66763220-186aa900-ee6d-11e9-89a6-03fd844f9946.png)

[2019-10-14 16:10] cwaring commented on #305
Also suggested on today's catchup: a minimum first pass implementation would be to add action links to "file an issue" and/or "edit this page" after somebody gives feedback.

[2019-10-14 22:22] ericronne commented on #342
Requests sound 👌to me … ☑️
- No specific gender was intended, but made them more masculine.
- The paper animation would be the tricky part. Not sure if those make sense when the rocket is in space, but we can pick up the ani Q later

![no-content-here-page](https://user-images.githubusercontent.com/9259185/66786749-289f7a00-eea7-11e9-90bb-3a3237182677.png)

[2019-10-15 01:44] jessicaschilling commented on #342
@ericronne Thanks!

[2019-10-17 23:05] jessicaschilling commented on #273
After yesterday's Boulder user testing sessions, @ericronne and I iterated on this for a while in conjunction with @cwaring's depth-of-nav concerns. It got hard to effectively visualize in situ, so I stubbed it out in a VuePress boilerplate site. See https://github.com/jessicaschilling/ipfs-docs-vuepress-nav ... a few notes:
- We'll need to discuss the landing pages that get reached by the top-bar

[2019-10-18 17:11] jessicaschilling commented on #318
We've been given a free-access account from Canny (hurrah, thanks!) and I'm working on getting this set up ... it'll be at a URL based on https://ipfs.canny.io, but will post the follow-on details in #319. Closing this issue, thanks!

[2019-10-18 17:11] #318 closed

[2019-10-18 17:12] jessicaschilling commented on #319
We've got a free-access account on Canny at https://ipfs.canny.io, but we still need to set up and populate the features list for voting. Watch this space!

[2019-10-18 17:20] cwaring commented on #319
nice, would you mind sending me an invite? I'm wondering if we can setup multiple spaces for different projects otherwise `ipfs-docs.canny.io` might be a better url

[2019-10-18 17:21] jessicaschilling commented on #319
@cwaring You should have an invite in the email already 😊

[2019-10-18 17:25] cwaring commented on #319
⏳

[2019-10-18 17:46] jessicaschilling commented on #319
Admin access should be fixed now -- if you don't have admin access and feel that you should, contact me!

[2019-10-18 17:48] cwaring commented on #319
confirmed, thanks 🙌

[2019-10-18 17:48] jessicaschilling commented on #319
I've populated https://ipfs.canny.io/docs-features with the features from last quarter's prioritized features list, minus the ones that we know we're already heavily prioritizing.

@cwaring @ericronne -- can you please take a look to see if it's complete, and then let's talk about best practices for launch? Thanks!

[2019-10-18 19:53] jessicaschilling commented on #304
I think we're good to close this, since the discussion's all happening in #305.

[2019-10-18 19:53] #304 closed

[2019-10-18 19:56] jessicaschilling opened #355 "User testing: IPFS Colorado in-person test day"
# User Testing Summary

## Event
**[IPFS Colorado User Testing Day](https://meetup.com/IPFS-Colorado/events/264964856/)**
Boulder, Colorado, 16 Oct 2019

In conjunction with Ethereum Boulder, we co-hosted a free full-day event for anyone interested in or already experienced with IPFS and the decentralized web. Participants during the daytime event were offered a day of free coworking at [The Pereg

[2019-10-18 19:56] jessicaschilling commented on #342
We had some input on this page as part of our IPFS Colorado user testing (see #355) and @ericronne is making some minor edits. 😊

[2019-10-18 19:58] jessicaschilling commented on #273
Also, note: Lots of good insights on the nav structure IA were gathered as part of IPFS Colorado in-person user testing! See #355 for details on this. @ericronne and I are incorporating those edits into the dummy VuePress repo ... watch this space.

[2019-10-18 19:59] jessicaschilling commented on #305
@ericronne, do you mind revising the mockups based on @cwaring's most recent comment when you get the chance? Thank you!

[2019-10-18 21:01] jessicaschilling commented on #306
Artifacts are finished in #305 and are ready to implement whenever the time is right!

[2019-10-19 01:06] jessicaschilling commented on #355
- Edited this issue's original comment to include a research summary and link to @ericronne's excellent notes
- Referenced the summary in epic issue #288 (so we can use that epic issue as a summary of our research work for the quarter) and linked to the epic in our repo readme (so it's easy for the community to see what we've been researching and testing)
- Added some action items and their releva

[2019-10-19 01:06] #355 closed

[2019-10-19 01:46] jessicaschilling commented on #273
I've made changes to the dummy VuePress repo (https://github.com/jessicaschilling/ipfs-docs-vuepress-nav) that reflect all the items @cwaring, @ericronne and I discussed today.

@ericronne -- can you please pull down the latest edits and review with an aim to our feeling confident enough to use this as a starting point by the middle of the week?
@cwaring -- can you please have a quick look at the

[2019-10-19 15:45] erlend-sh commented on #302
I know the decision has been made and it seems good 👍 But since other projects are coming by here to inform their own evaluations, I’d like to add https://github.com/doczjs/docz to the list. It is built on top of Gatsby and very actively developed.

For future evaluations I might also suggest one additional criteria:

* **Sustainability:** Will this project be around for years? I.e. Is it being de

[2019-10-19 15:49] jessicaschilling commented on #302
Thanks, @erlend-sh! Sustainability was certainly table stakes in our evaluation — though your comment illustrates we could have been more explicit about that. 😊

[2019-10-20 13:35] daviddias commented on #300
Hiiii docs team! Got something for you https://github.com/ipfs/go-ipfs/pull/6695

It's complete and ready for review. Would love to get this shipped soon and potentially also ship a blog post to let our users know that they can use IPFS in this way as well.

[2019-10-21 14:52] ericronne commented on #342
Here's an update with rearrangements and minor copy edits. (Reminder: this doesn't reflect final page design.) **[Here's the illustration](https://drive.google.com/open?id=1McGEy7dw5Xr1G5B4gw4zrdb07J93c6U8)**. Animation would be great, but for now, i think it would be more useful to prioritize other issues.

![no-content-here-page](https://user-images.githubusercontent.com/9259185/67215979-0991728

[2019-10-21 14:59] jessicaschilling commented on #342
Awesome! Going to move this one into "blocked" at the moment until we're able to actually develop on it.

[2019-10-21 15:18] terichadbourne commented on #306
Screenshot from vuejs.org where they add a smidge more context on why you'd edit on GitHub:

![image](https://user-images.githubusercontent.com/19171465/67218461-672bbc00-f3f4-11e9-95e9-c1231029989a.png)

[2019-10-21 15:20] ericronne commented on #305
LGTM

![image](https://user-images.githubusercontent.com/9259185/67218642-5414ee00-f3ec-11e9-8ed2-0544de48763a.png)

[2019-10-21 15:28] jessicaschilling commented on #319
Notes from today's [WG meeting](https://docs.google.com/document/d/1EOD-pJi4GvRmGi9HHocgVV8uVHMFIZlyVgJDkvC3DQ4/edit#heading=h.5e2btnkzo00n) on launch socialization:
- Newsletter
- Social media
- Docs repo readme
- Beta site: API integration directly in the site?

[2019-10-21 16:09] #305 closed

[2019-10-21 18:52] jessicaschilling commented on #306
@terichadbourne - Love that language! Let's do the same on the docs beta.
@ericronne @cwaring , there's no point in changing the visuals mocked up in #305, but instead of just "Edit this page on Github", let's maybe do the following:
"Found an error or want to contribute to IPFS docs? (link)Edit this page on GitHub.(/link)"

[2019-10-21 23:25] ericronne commented on #273
Sorry for the hiccup here, but i wanted to see an option with everything in the left nav, for a side-by-side(bar) comparison before we move on to implementation. So i mocked it up.

**[Invision prototype of left-nav option](https://invis.io/87UHAWUG5W2#/389721991_Landing-Pg-)**

This opens up the top horizontal strip for utility links, etc.  As with your demo site, @jessicaschilling, subsection he

[2019-10-22 16:56] jessicaschilling commented on #273
Thanks for mocking this up, @ericronne ... my only concern would be that exposing H2 subtopics (which is useful) in the nav gives you another layer of depth, which starts looking awkward (see below).

Two other considerations that are making me lean toward the top nav, even though I'm personally not a fan of them in general:
- We had a few user testing folks comment on the topical/semantic distinc

[2019-10-22 19:28] ericronne commented on #273
The left-nav motif could serve to keep us in check re nav-structure depth.
It's a judgement call, tho; good examples exist in both arrangements.

Some left-nav egs from our [spreadsheet](https://docs.google.com/spreadsheets/d/1KuLxE3Sq0Ju95f3FyLUQQA1vr3N-Se-dZcLyiCOqGz8/edit#gid=0) …
[Twitter](https://developer.twitter.com/en/docs)
[Dat](https://docs.datproject.org/docs/intro)
[Gitbook](https://do

[2019-10-22 20:27] ericronne commented on #273
And now back to our regularly scheduled program: "Discussing the Actual Navigational Structure"

Some thoughts on labeling and categorization …
**Install IPFS**
- Testing showed that users expect installation to be very streamlined/straightforward. A single, uncluttered page is probably wise.
- @olizilla has advised us to point users to Desktop installation as the default (not just for toe dippers

[2019-10-22 21:22] jessicaschilling commented on #273
@ericronne @cwaring No need to discuss. I'll go back through the VuePress dummy and adjust everything to remove the top nav. Will also incorporate your edits from above.

[2019-10-22 22:50] jessicaschilling commented on #300
From @daviddias re where to put this guide in the legacy nav: note that we're addressing the js-ipfs examples in the new beta nav. But will hide the "make your own service" link per screenshot.
![image.png](https://images.zenhubusercontent.com/5ce5bf88b1698b1ceb4ce811/7202cf56-199b-4d10-8052-869cf48513d2)

[2019-10-22 23:11] jessicaschilling commented on #273
Oh - and re the glossary thing - I'll leave a glossary page in the nav for now (curious to see what response we do/don't get to its "nothing to see here" page) but I did add inline glossary hover text to the features voting (see #319)'s Canny page: https://ipfs.canny.io/admin/board/docs-features

[2019-10-23 01:31] jessicaschilling commented on #273
@cwaring @ericronne:

- Made the changes from [Eric's earlier comment](https://github.com/ipfs/docs/issues/273#issuecomment-545138901) to the [dummy repo](https://github.com/jessicaschilling/ipfs-docs-vuepress-nav/)
- Also set up Netlify CI, so you can just look here for the results: https://gracious-stallman-3a9071.netlify.com
- (Related: Filed a support request to Netlify to ask them to remove "

[2019-10-23 16:32] cwaring commented on #327
[📚✨](https://github.com/ipfs/ipfs-docs-v2)

[2019-10-23 16:32] #327 closed

[2019-10-23 16:33] jessicaschilling commented on #327
@cwaring YAY! Where is it?

[2019-10-23 16:37] cwaring commented on #327
follow the emojis...

[2019-10-23 16:46] jessicaschilling commented on #327
Faaaaancy!

[2019-10-23 18:17] jessicaschilling commented on #308
Open question: Will we preserve this ipfs/docs repo and migrate VuePress files into it, or will we deprecate this repo in favor of the beta one?

[2019-10-23 18:42] cwaring commented on #328
Netlify is configured for the staging site, we will need to setup a `cname` record for our custom domain when we migrate to a public beta.

[2019-10-23 18:42] #328 closed

[2019-10-23 20:05] jessicaschilling commented on #273
Further edits to reconcile nav structure are here:
https://ipfs-docs-navtest.netlify.com/install/
@cwaring @ericronne -- please have a look to see if this addresses the last round of comments.

[2019-10-23 21:18] jessicaschilling commented on #272
Just realized I'm not a maintainer on my own team's repo 😆 ... last time we made changes to GitHub issue templates I had to ask @Stebalien to do it. Actually -- @Stebalien, would you be willing to add me and @cwaring as maintainers? Otherwise, I can ask you to add another issue template for me.

[2019-10-23 21:37] jessicaschilling commented on #272
_(Notes to self, or whoever makes the changes:)_
**For this repo's existing [issue template](https://github.com/ipfs/docs/issues/new?assignees=&labels=docs-ipfs&template=issue.md&title=) ...**

1. Please change the title from "Issue" to "Documentation Issue"
2. Please change the subtitle from "Report a documentation issue" to "Report a problem with existing documentation"
3. Please add the label `

[2019-10-23 21:45] jessicaschilling commented on #272
_(Notes to self, or whoever makes the changes:)_
**Please create a new issue template in the docs repo ...**

1. Title: "Content Request"
2. Subtitle: "Suggest a new item for the IPFS docs"
3. Please add the labels `docs-ipfs`, `OKR 3: Content Improvement` and `design-content`
4. Please insert the following prepopulated text in the body of the issue:

[code]

[2019-10-23 22:15] jessicaschilling commented on #272
Made changes noted in comments above - we now have two new [issue templates](https://github.com/ipfs/docs/issues/new/choose) for content requests and documentation issues.

This broke the "open a GitHub issue" link in the docs site near the hot-or-not buttons, so fixed that in https://github.com/ipfs/docs/pull/359.

Calling this one good!

[2019-10-23 22:15] #272 closed

[2019-10-23 22:43] jessicaschilling commented on #262
See below for screenshot of a compromise solution -- since we're leaving Hugo behind with deployment of the docs beta, it didn't seem a good use of time to dig into its means of auto-generating content on page bundle index pages.

What this does:
- Removes duplicate content
- Fixes typos and poor wording in original top-of-page text about install page
- Adds a prominent visual callout (in existing

[2019-10-23 22:43] #262 closed

[2019-10-24 11:13] cwaring commented on #308
I suggest that we continue to use this repo for management and then transfer remaining open issues to [ipfs-docs-v2](https://github.com/ipfs/ipfs-docs-v2) when we are ready to switch, deprecating this one. That way we retain the development history in the new repo.

[2019-10-24 15:51] jessicaschilling commented on #329
This is pretty: https://gridsome.org/docs/#alternatives

[2019-10-24 17:13] jessicaschilling commented on #273
Great discussion with @cwaring and @ericronne to clean up some loose ends. Just moved everything that we'd built in the dummy repo over to the [docs beta repo](https://github.com/ipfs/ipfs-docs-v2) -- once https://github.com/ipfs/ipfs-docs-v2/pull/2 is merged the changes will be visible [here](https://ipfs-docs-v2.netlify.com/).

We'll want to pay close attention to the nav in the initial round of

[2019-10-24 17:13] #273 closed

[2019-10-28 15:18] ericronne commented on #319
Can we swap in [this version of the logo](https://drive.google.com/open?id=1jHD0nSo356H5Xsdd0Noro3uYjvgtQAVu) (where IPFS isn't obscuring the symbol)?

[2019-10-28 15:51] jessicaschilling commented on #319
@ericronne good call.
![image](https://user-images.githubusercontent.com/1507828/67694135-7f598900-f968-11e9-9e3f-edd775db5bde.png)

[2019-10-29 08:14] daviddias commented on #300
It has beeeen meeeerged \o/ https://github.com/ipfs/go-ipfs/tree/master/docs/examples/go-ipfs-as-a-library :D

[2019-10-29 09:20] daviddias commented on #300
Got you a blog post as well https://github.com/ipfs/blog/pull/322 :D

[2019-10-29 20:42] #300 closed

[2019-10-29 20:42] jessicaschilling commented on #300
Link added in legacy docs site! Queued up in the beta as well. Thank you!

[2019-10-29 21:20] #111 closed

[2019-10-30 15:56] dreamski21 opened #365 "[DOCS ISSUE] Page: DNSLink"
**URL of the page in question:**
https://docs.ipfs.io/guides/concepts/dnslink/

**What's wrong with this page?**
The given example is outdated: `ipfs.io`'s TXT records don't contain a "dnslink=/ipfs/\*" value, but points to yet another domain: `website.ipfs.io` which doesn't have any TXT record. I ended up checking `_dnslink.website.ipfs.io` as mentioned in the "Publishing via a Subdomain" section

[2019-10-30 21:26] jessicaschilling commented on #365
@daviddias -- Is this something we may be able to enlist your help on? @dreamski21 is correct -- none of our canonical examples (e.g. the ones in http://dnslink.io/#known-users ) are mapping correctly any more. Not sure what the best resolution here is. Thank you!

[2019-10-31 12:05] #337 closed

[2019-10-31 16:57] jessicaschilling opened #366 "Update "Make your own IPFS Service" in beta site"
The basics tutorial on making your own IPFS service is outdated, and should be cleaned up before beta launch mid-December. Please review and amend, but in the beta repo:
https://github.com/ipfs/ipfs-docs-v2/blob/master/docs/how-tos/make-service.md

Thanks!

[2019-10-31 22:34] #345 closed

[2019-10-31 22:37] jessicaschilling commented on #345
- Migrated existing content
- Rearranged and reformatted as necessary to fit new IA
- Fixed all relative links
- Cleaned up a lot of miscellaneous typos, formatting issues, outdated links that I found along the way.

The beta site should be ready for a close-read audit now. Closing this issue!

[2019-11-01 12:06] cwaring commented on #345
Superb milestone! Thanks for all you help getting this migrated 🙌💯

[2019-11-01 18:37] jessicaschilling commented on #319
Quick status update on this one -- we don't intend to socialize this until the public beta launch, but in the interim, @cwaring is thinking on if we want a deeper integration of Canny into the docs itself rather than just linking to the external page. (As part of longer-term strategy than just this features prioritization effort, this could be really useful.)

[2019-11-01 18:54] jessicaschilling commented on #315
Update: We'll do some internal testing on this mid-Nov with PL staffers. Watch this space.

[2019-11-01 18:57] jessicaschilling commented on #341
@ericronne Do you want to design this one?

[2019-11-01 18:58] jessicaschilling commented on #346
Update: Nothing unexpected encountered in the initial migration. Front matter is easy to work with, and nothing weird happened when flat-out copy/paste-ing markdown from legacy site.

[2019-11-01 19:05] jessicaschilling commented on #270
Ref #366 - that's the issue to rework the "Make your own IPFS Service" page, which is currently hidden.

[2019-11-01 19:06] jessicaschilling commented on #366
Ref #270 for a contributor comment on this one. The tutorial is currently hidden in the legacy site due to it being too outdated to be useful.

[2019-11-01 19:19] jessicaschilling commented on #119
Update: We're discussing best approaches to community-generated content as part of a general taxonomy discussion. Ref #347.

[2019-11-01 19:43] jessicaschilling commented on #96
Closing this issue, since it's been addressed by the libp2p folks (https://docs.libp2p.io/concepts/peer-id/) and we're including some form of a basic libp2p guide in the docs beta: cf https://github.com/ipfs/ipfs-docs-v2

[2019-11-01 19:43] #96 closed

[2019-11-01 20:08] #187 closed

[2019-11-01 20:39] jessicaschilling commented on #187
Added links to nav of legacy site and incorporated the four courses to the beta:
- Courses A and D are broad enough to touch multiple "essentials" topics, so added tip callouts to them in their respective topic pages, plus prompts in the top-level essentials page
- Courses B and C added to nav in the "How-tos" section

[2019-11-01 21:25] ericronne commented on #341
For sure!

[2019-11-02 07:22] daviddias commented on #365
@jessicaschilling is on the Infra/Bifrost team alley :)

[2019-11-04 18:45] cwaring commented on #342
Posting this here for implementation reference. I'm building this feature with the following priority for each component based on our discussions from last week.

![67215979-09917280-f3e8-11e9-8e59-3831883566cf](https://user-images.githubusercontent.com/106938/68148024-21faa480-ff33-11e9-8b05-ae73c371f519.png)

[2019-11-04 18:49] cwaring commented on #342
@ericronne could you please upload a src file for the progress bar so I can generate necessary vectors? Thanks!

[2019-11-04 20:57] ericronne commented on #342
**[Timeline sketch file](https://drive.google.com/open?id=1SDjE0kQQ79c_9viC4y_-rS-WC5FcxDkL)** is on the drive, @cwaring.

![timeline](https://user-images.githubusercontent.com/9259185/68157493-5c544980-ff13-11e9-89f3-0db2c7be4b3e.png)

Colors will change to match the styling i'm experimenting with right now.

[2019-11-04 22:07] jessicaschilling commented on #365
@olizilla -- Is this something that your Bifrost folks can help address? @daviddias is blocked on having a look for a while. Thank you!

[2019-11-05 20:10] ericronne commented on #329
Here's a kitchen-sink layout which illustrates some style options for discussion, desktop flavor.
**[Sketch file](https://drive.google.com/a/protocol.ai/file/d/1F-AIGHRfI3Bj-Hk_xWxTcCGpBt4dJl9S/view?usp=sharing)** on the drive

![ipfs-docs-style-tile-A](https://user-images.githubusercontent.com/9259185/68242374-0399b500-ffd6-11e9-8a10-2b5fd21048a3.png)

[2019-11-05 20:13] jessicaschilling commented on #329
@ericronne -- Awesome! One question, one request ...
Question: Is the "S" in "IPFS" in the header weirdly big?
Request: I'm pasting in here the OOTB style for alerts/tips/etc. Do you want to tweak those at all, or alternatively, tweak the "related content" boxes in any way to play well with the alerts/tips?
![image](https://user-images.githubusercontent.com/1507828/68242571-0395b700-ffce-11e9-80a7

[2019-11-05 20:24] jessicaschilling commented on #341
@ericronne Re the legacy site -- I think just a callout box like we've been doing with the ProtoSchool callouts would be just fine, though maybe a bright background or something - see below for reference. I can hand-code these with a link to the equivalent content on the beta site ... I might as well be the one to do it, since I know better than anyone where all that stuff lives. 😊

Suggested text

[2019-11-05 20:52] ericronne commented on #329
@jessicaschilling Sketch messed with the vectors, in its well-intended-but-poorly-implemented quest to make the entire universe align to a pixel grid. The svg will render fine when implemented.

Modest mods to the alert design are also on my radar!

[2019-11-06 15:04] olizilla commented on #365
We consistently use an _dnslink.<example.org> subdomain for publishing our dnslink txt records to.

Perhaps we should just restructure this doc to explain and recommend using a subdomain first, and then finish with a footnote that explains that you can also publish the txt record to the exact domain, if you so wish.

[2019-11-06 19:08] jessicaschilling commented on #365
@olizilla @dreamski21 -- see https://github.com/ipfs/docs/pull/369 for PR to address this. Oli, I've added you as a reviewer on the PR, if you don't mind. Thank you!

[2019-11-09 21:12] timthelion opened #371 "[DOCS ISSUE] Link to forum is broken"
**URL of the page in question:**
https://docs.ipfs.io/community/

**What's wrong with this page?**
![ipfs](https://user-images.githubusercontent.com/1391608/68535157-9cf9fb80-0335-11ea-98b1-4a74adb6b53c.png)

[2019-11-11 19:01] ericronne commented on #329
Styling for callout boxes.
Happy to create sep issues for these bits, for granular management. Issue getting bloated.

![callout boxes](https://user-images.githubusercontent.com/9259185/68612826-050a2800-0483-11ea-86e1-ca400eb62cbe.png)

[2019-11-11 19:02] jessicaschilling commented on #329
@ericronne - thank you!
@cwaring - is this enough for you to get started on styling?

[2019-11-11 20:18] ericronne opened #372 "Design a glossary of IPFS-related terms"
Here are some design options for a glossary feature, for discussion.

## A - Simple pop-up

![glossary-A](https://user-images.githubusercontent.com/9259185/68617407-df821c00-048c-11ea-825e-6feed7271623.png)

## B - Sliding panel

![glossary-B](https://user-images.githubusercontent.com/9259185/68617418-e315a300-048c-11ea-8e67-48c39f772340.png)

### Toggle visibility with nav button …
![glossary-B-b

[2019-11-12 17:02] ericronne commented on #372
My design is based on **[this code](https://github.com/18F/glossary)** by 18F.

[Live example](https://web.archive.org/web/20170406100258/https://useiti.doi.gov/)

[2019-11-12 18:10] ericronne opened #373 "Design and implement "Refresh for updated content" feature"
Vuepress shows a sticky lower-right-corner refresh prompt when local content is outdated. Here's a non-sticky design that's less obtrusive, but might be sufficiently obvious. If this seems reasonable and easy to implement, let's test.

- [x] Initial design
- [ ] Review
- [ ] Update design
- [ ] Test with users
- [ ] Update design if necc
- [ ] Implement

## Desktop
![refresh.png](https://images.ze

[2019-11-12 18:23] jessicaschilling commented on #372
@ericronne My personal favorite might just be the pop-ups (particularly considering mobile), but kind of want to leave this choice in @cwaring's hands vis-a-vis ease of implementation. They've all got their strengths, so I might be inclined to go with the simplest one to build.

[2019-11-12 18:25] jessicaschilling commented on #373
I dig! Should we make the text more explicit?
"New content available! (link)Refresh(/link)"

[2019-11-12 18:37] jessicaschilling commented on #365
Closed via #369. Thanks, all!

[2019-11-12 18:37] #365 closed

[2019-11-12 18:46] #371 closed

[2019-11-12 18:46] jessicaschilling commented on #371
Thanks for finding this, @timthelion! Fixed.

[2019-11-12 18:53] ericronne commented on #372
The 18f code is mobile friendly out of the box (not sure about vue-friendliness). +1 to @cwaring's call,  🙌
![foLaM0rrNB](https://user-images.githubusercontent.com/9259185/68700900-554cbd00-054b-11ea-808b-85b99b7ea2bf.gif)

[2019-11-13 18:55] jessicaschilling commented on #321
Closing this issue, as we're deferring it out of Q4 '19 OKRs. Will re-open as the effort starts up.

[2019-11-13 18:55] #321 closed

[2019-11-13 18:55] jessicaschilling commented on #322
Closing this issue, as we're deferring it out of Q4 '19 OKRs. Will re-open as the effort starts up.

[2019-11-13 18:55] #322 closed

[2019-11-13 18:56] jessicaschilling commented on #323
Closing this issue, as we're deferring it out of Q4 '19 OKRs. Will re-open as the effort starts up.

[2019-11-13 18:56] #323 closed

[2019-11-13 18:56] jessicaschilling commented on #290
Closing this epic, as we're deferring it out of Q4 '19 OKRs. Will re-open as the effort starts up.

[2019-11-13 18:56] #290 closed

[2019-11-13 20:02] ericronne commented on #341
Here's a more customized design for the legacy callout that might pay off in the number of clicks it could draw, and a simple design for the pointer linking back to the legacy site _from_ the beta site …

## Callout on legacy site
![beta-pointer-for-legacy-site](https://user-images.githubusercontent.com/9259185/68799046-1e46dc00-061d-11ea-866a-7654dff417b6.png)

## Callout on beta site
This could

[2019-11-13 20:12] jessicaschilling commented on #341
@ericronne This is awesome, thank you!
I might be inclined on the beta site to be more explicit in the text: "View this page on legacy site"?
Do you mind putting the icon for the legacy site somewhere in the legacy site repo, so I can build the callouts when we're ready? Probably here: https://github.com/ipfs/docs/tree/master/static/assets

@cwaring -- What are your thoughts on the best way to bui

[2019-11-13 20:15] terichadbourne commented on #372
If this is being built in VuePress, any chance it can be built to be compatible with Vue as well so it can be used on ProtoSchool? See this open issue: https://github.com/ProtoSchool/protoschool.github.io/issues/99

[2019-11-13 20:27] ericronne commented on #341
Cool. @cwaring lmk if this image doesn't properly render …
https://github.com/ipfs/docs/blob/master/static/assets/thumbnail-beta-laptop.svg

[2019-11-13 22:13] cwaring commented on #373
Nice. I feel that the desktop variant could get a little lost but we might be able to do something with animations to make it more visible. Work has been started in ipfs/ipfs-docs-v2/pull/20, currently there are some limitations that we should discuss in more detail over a call to ensure we get the interaction correct.

[2019-11-13 22:35] cwaring commented on #372
I do love this idea but it could be an entire product by itself. As @terichadbourne pointed out the real value might come from a plugin that could work on any of our websites/apps. If we are considering i18n too it does start to get quite complex so we'll have to draft out the scope or MVP for testing on the docs site first.

[2019-11-13 23:14] ericronne commented on #372
I would exclude the glossary from the beta launch and bump it to next q as an enhancement.

[2019-11-13 23:14] jessicaschilling commented on #372
+1 - I think that was actually always the idea.

[2019-11-15 18:34] jessicaschilling commented on #188
Note that https://github.com/ipfs/website/pull/348 addresses this on the front page of ipfs.io.

[2019-11-16 20:31] fulldecent opened #377 "[DOCS ISSUE] Page: Content Identifiers (CIDs)"
The IPFS documentation on CID should explain which CID types are supported by IPFS clients.

Documentation should answer these questions:
* Is every file just SHA256 hashed and then CID is a way of expressing that fact?

And maybe also
* Who decides when new hash types will be accepted?
* When new hash formats are accepted will clients disallow uploading/storing files of the old hash format?

[2019-11-19 17:21] jessicaschilling commented on #93
Also note via @yusefnapora: Gateway is great for playing well with the outside world, but you're really only getting part of the full IPFS goodness. Let's emphasize gateway as a gateway drug ;)

[2019-11-19 23:02] jessicaschilling commented on #377
@johnnymatthews -- are you able to take this on next week? Thank you!

[2019-11-25 15:36] cutmuetia opened #379 "[DOCS ISSUE] (add your title here!)"
Did you find a bug, typo or other issue in an item of IPFS documentation? Please use this template to let us know!

**URL of the page in question:**
_e.g. https://docs.ipfs.io/introduction/usage/_

**What's wrong with this page?**
_Please be as specific as possible. If relevant, screenshots are helpful!_

**What would you like to have changed/amended/fixed in order to make things right?**
_Again,

[2019-11-25 15:38] cutmuetia opened #380 "[CONTENT REQUEST] (add your title here!)"
Is there an item missing from IPFS documentation that would be helpful to you? Please use this template to let us know!

**What's the subject of the item you're requesting?**
_In other words, what would the title of this new page be?_

**What's the content of the item you're requesting?**
_Please describe the new page's content in more detail, including any ideas for the APIs or methods
to be taug

[2019-11-25 15:38] cutmuetia opened #381 "[DOCS ISSUE] (add your title here!)"
Did you find a bug, typo or other issue in an item of IPFS documentation? Please use this template to let us know!

**URL of the page in question:**
_e.g. https://docs.ipfs.io/introduction/usage/_

**What's wrong with this page?**
_Please be as specific as possible. If relevant, screenshots are helpful!_

**What would you like to have changed/amended/fixed in order to make things right?**
_Again,

[2019-11-25 15:39] cutmuetia opened #382 "[CONTENT REQUEST] (add your title here!)"
Is there an item missing from IPFS documentation that would be helpful to you? Please use this template to let us know!

**What's the subject of the item you're requesting?**
_In other words, what would the title of this new page be?_

**What's the content of the item you're requesting?**
_Please describe the new page's content in more detail, including any ideas for the APIs or methods
to be taug

[2019-11-25 16:42] ericronne commented on #188
Let's not forget to …
- [ ] Update the install link which is atop the "[get started](https://ipfs.io/#get-started)" home-page panel as a part of this issue

[2019-11-25 17:31] jessicaschilling commented on #315
@ericronne @johnnymatthews @cwaring -- This is the issue under which we'll capture the mid-Nov internal in-person testing.

[2019-11-25 17:33] jessicaschilling commented on #317
For purposes of barebones beta launch milestone -- let's do a review of all existing H2s in content and see if they can be better optimized for the out-of-the-box Vuepress search. (We'll dig into better search, probably Algolia, later.)

@johnnymatthews, do you have time to take this on?

[2019-11-25 17:34] jessicaschilling commented on #331
We're essentially tracking this work in the barebones beta launch milestone - https://github.com/ipfs/docs/milestone/3 - but leaving this issue open (and in the milestone) as a venue for discussing the milestone itself.

[2019-11-25 17:35] jessicaschilling commented on #333
@cwaring -- can we call this issue done?

[2019-11-25 17:37] jessicaschilling commented on #346
Calling this issue done -- we've not encountered any issues in content creation so far, and can open individual issues should anything crop up later.

[2019-11-25 17:37] #346 closed

[2019-11-25 17:44] Stebalien opened #383 "[beta design nit] navigation scrolling is a bit funky"
Scrolling the main page leaves the navigation where it is but scrolls up the header. I'd expect one of:

* The header to be sticky.
* The navigation to scroll up.
* The navigation to scroll up with the header until the header is off the page, then stick to the top.
* The navigation to continue to the top (and "own" the logo).

![out](https://user-images.githubusercontent.com/310393/69564563-d73fdb

[2019-11-25 17:48] jessicaschilling commented on #383
@Stebalien, thanks for bringing this up -- we've had a round of discussions among the team and haven't reached a consensus yet about best solution (ha!) but please be assured it's on the radar. Thanks for capturing it in its own issue! We may not nail this for initial beta release but it's now in the queue ...

[2019-11-25 22:36] Stebalien commented on #383
Thanks! Yeah, it's definitely a low-priority polish issue.

[2019-11-25 23:28] johnnymatthews commented on #326
# IPFS Documentation Report

The step from [old docs](https://docs.ipfs.io/) to [new docs](https://ipfs-docs-v2.netlify.com/) has been a vast improvement. A bunch of work has gone into create a better way of serving documentation to users. But there's still a lot of holes that need filling. This report is an informal review of the current state of documentation across IPFS. I'll discuss the follow

[2019-11-26 00:08] jessicaschilling commented on #325
Closing, since @johnnymatthews' report is in issue #326!

[2019-11-26 00:08] #325 closed

[2019-11-26 00:08] jessicaschilling commented on #324
Closing, since @johnnymatthews' report is in issue #326!

[2019-11-26 00:08] #324 closed

[2019-11-26 00:11] jessicaschilling commented on #326
Video walkthrough from @johnnymatthews is here: https://www.loom.com/share/fc17d21502c14fdc8422a62258627a5a

[2019-11-26 00:22] jessicaschilling commented on #326
@johnnymatthews -- this is **awesome**, thank you! Can you please prioritize creating the issues you mention above (ideally this week if you're able), so we can wrap up this stage of this effort? Thank you!

[2019-11-26 00:44] #331 closed

[2019-11-26 16:23] jessicaschilling opened #385 "Barebones CSS edits for beta launch"
Distill the essentials from #329 for visual changes we feel are absolutely necessary for December launch.

@ericronne to identify changes required
@cwaring to implement them

UPDATE: Bug found by @jimpick:
"Make the the input field in the search box is a minimum of 16px ... otherwise iPhones will automatically zoom the viewport which wrecks the responsive layout - it looks like it's currently font

[2019-11-26 16:44] jessicaschilling commented on #341
@cwaring The form for becoming a tester is here: https://docs.google.com/forms/d/1LVaD1B2uyW6Ff0jfU_iQ5mCeyQcHfyQO6BDD99XAgK0

[2019-11-26 17:05] jessicaschilling commented on #319
@cwaring - can you please whatever branch has this in the header, so we can close it out?

[2019-11-26 17:17] jessicaschilling commented on #342
Update: @cwaring is implementing, but needs related items for each stub from @johnnymatthews and @jessicaschilling. These should be stored in front matter -- @cwaring, can you think about pinning the format down exactly? Something like ...

related_items:
     "ProtoSchool video tutorial on a thing": https://foo.bar
     "Another link title": https://link.here

[2019-11-26 19:23] johnnymatthews commented on #310
So there's two sets of metrics/analytics we can implement: _need_ and _nice_.

## Need

These are basic metrics that we can use to improve the general UX of the site.

1. Location/native language of user.
2. How they got to our docs (from Google, link from our Forum, somewhere else, etc).
3. Which pages they hit.
	a. How long they stayed on those pages.
	b. Which page they exited the docs on.

##

[2019-11-26 19:36] jessicaschilling commented on #310
One other question ... other than the "helpful/not helpful" buttons, is there any measurement on the legacy site that we explicitly want to carry over to the new one? I believe that's all, but could just be forgetful.

[2019-11-26 19:42] jessicaschilling commented on #342
@johnnymatthews - I've started a Google sheet here where we can divide and conquer on related items for content stubs: https://docs.google.com/spreadsheets/d/11O0tW3JpSsTsh0zn2wenirVbCN5azNZnjxSJe7pLSGo/edit?usp=sharing

[2019-11-26 21:04] jessicaschilling opened #386 "Create concept doc on immutability"
The need: A concept doc on immutability in general (i.e. why it's important), as well as a high-level look at how it functions in an IPFS-specific context (why it's important to IPFS, and also how to accommodate for it in situations like browser addressing).

Final guide should live here, for inclusion on the IPFS docs 2.0:
https://github.com/ipfs/ipfs-docs-v2/blob/master/docs/essentials/immutabil

[2019-11-26 21:09] jessicaschilling opened #387 "[NEW CONTENT] [BOUNTY] High-level doc of usage ideas and examples"
**This issue is one of the prioritized recommendations in the [Q1 2020 IPFS Ecosystem Audit](https://github.com/ipfs/community/tree/master/ecosystem-audit) for execution in Q2/Q3 2020. Tagging it with `$auditrecommendation` means it's searchable! See [all tagged issues](https://github.com/ipfs/docs/issues?q=is%3Aissue+%22%24auditrecommendation%22+) in this repo.**

## This issue has a bounty!
Succ

[2019-11-26 21:24] jessicaschilling opened #388 "[NEW CONTENT] [BOUNTY] Quick overview of libp2p with deep linking to its docs"
## This issue has a bounty!
Successfully closing this issue by producing a production-ready piece of documentation can earn you not only the undying love of the IPFS community — it can net you a financial reward. [See the current list of bounty issues and their values here.](https://github.com/ipfs/devgrants/projects/1)

## The need in brief
A quick, high-level explainer of libp2p that doesn't see

[2019-11-26 22:26] johnnymatthews commented on #342
Just ran through that sheet. Nothing is _glaringly wrong_ from my perspective, you know the content better than I do at the point. One thing we should do is mark external links with an external-links-icon.

[2019-11-26 22:27] jessicaschilling commented on #342
@johnnymatthews I believe those external links should all auto-add the external-links icon because VuePress witchery, but @cwaring can confirm?

[2019-11-26 22:42] terichadbourne commented on #377
The "Anatomy of a CID" section of Core Course A from IPFS Camp might be helpful for some of this. https://www.youtube.com/watch?v=Z5zNPwMDYGg

[2019-11-27 18:24] ericronne commented on #342
@cwaring take with a salt grain if you've already crafted one of your characteristically brilliant solutions, but here's some visual food for thought and discussion among all. For the sake of easy implementation — and Occam's Razor-izing things — I've removed the status bar in favor of a simple text invite to follow the progress on github. …

![no-content-here-page-beta-launch](https://user-images

[2019-11-27 21:55] johnnymatthews commented on #377
Hey @fulldecent. You've brought up a good point, mainly the policy/process for deciding new hashing types. I've made a [thread to discuss it over on the IPFS forum](https://discuss.ipfs.io/t/who-decides-what-hashing-algorithms-ipfs-allows/6742).

[2019-11-27 22:33] johnnymatthews opened #389 "Implement the more structured hierarchy."
As discussed in #326 under **Content Guidelines**, a better hierarchy was proposed:

[code]

Implementing this new hierarchy will require significant rewriting of existing content, as well as new documents and articles to fill in the holes. A more in-depth map should be created before we start writing and editing content.

[2019-11-27 22:34] johnnymatthews opened #390 "Design and create video content to reflect written content."
**Note: This issue was opened as a result of the November 2019 close-reading audit captured in #326.**

Right now the docs are pretty much just a wall of text, with a few images thrown in here and there. What IPFS needs is something like the [Laravel Docs](https://laravel.com/). They have their [standard documentation](https://laravel.com/docs/6.x), which is great. But they also have [Laracasts](h

[2019-11-27 22:34] johnnymatthews opened #391 "Create detailed and interesting diagrams to supplement the written content."
**Note: This issue was opened as a result of the November 2019 close-reading audit captured in #326.**

The vast majority of content in the IPFS documentation is just text. This is an issue for visual learners. Having a few diagrams thrown in there to explain more complex and technical concepts can help visual learners understand what's going on. When designing the new hierarchy we should keep thi

[2019-11-27 22:35] johnnymatthews opened #392 "Define and document standards and styles for IPFS docs"
**Note: This issue was opened as a result of the November 2019 close-reading audit captured in #326.**

One consequence of having several different writers create documentation is that there isn't any consistency between the pages in terms of writing style, word choice, styling, and examples. To create a consistent experience across all IPFS documentation we should:

1. Create a personality and wr

[2019-11-27 22:35] johnnymatthews opened #393 "Automate API and CLI documentation."
Manually editing documentation that can be automated is an excellent way to create un-usable API docs and undocumented endpoints. Things get missed, misrepresented, and misunderstood.

If we can find a way to automate the docs for all our APIs we can vastly improve the lives of IPFS devs and users.

Let's find ways to:

1. Automate the go-ipfs API docs.
2. Automate the js-ipfs API docs.
3. Automat

[2019-11-27 22:36] johnnymatthews opened #394 "Discuss a localization strategy."
Having the docs site in several languages is great for globalization, and improves SEO. However, localization is hard and comes with significant overhead. Every change we make to a document means that the page needs to be translated again. We could cut down this overhead by using a dynamic service like Localize.js, or we can leave users to chose their own translation service.

We should decide:

1

[2019-11-27 22:43] jessicaschilling commented on #351
TLDR: Comms plan is here: https://docs.google.com/document/d/16gC5HmP9zzQQR8vNm8baHX6x3nxQ1lallB2kqjzqDAs

[2019-11-27 23:05] jessicaschilling commented on #317
@johnnymatthews -- now that you've merged the PR, could you please confirm behavior is improved? Minimum is just doing it yourself 😊 but if there's time, ideally would be to confirm via a quick video call with observing someone else playing with it. Thank you!

[2019-11-28 00:02] jessicaschilling commented on #326
For future reference, the following issues were created as follow-up from this effort:
- Implement the more structured hierarchy. #389
- Design and create video content to reflect written content. #390
- Create detailed and interesting diagrams to supplement the written content. #391
- Define and document a persona for IPFS docs. #392
- Automate API and CLI documentation. #393
- Discuss a localiza

[2019-11-28 00:02] #326 closed

[2019-11-28 00:20] jessicaschilling commented on #350
Closing this issue, as it's been superseded by the larger "docs personality" effort in #392.

[2019-11-28 00:20] #350 closed

[2019-11-28 00:31] jessicaschilling commented on #338
Closing this issue, as we're addressing it as part of a wider localization discussion in #394.

[2019-11-28 00:31] #338 closed

[2019-11-28 00:33] fulldecent commented on #377
Thank you. PR added here https://github.com/ipfs/docs/pull/395

[2019-11-28 00:42] jessicaschilling commented on #293
Closing this epic; the recommendation/action report, as well as a list of the issues generated as a result, can be found here: https://github.com/ipfs/docs/issues/326

[2019-11-28 00:42] #293 closed

[2019-11-28 01:00] jessicaschilling commented on #377
Closed via #395 - thanks!

[2019-11-28 01:00] #377 closed

[2019-11-28 14:02] cwaring opened #396 "create default social media card graphics"
TLDR; I'd recommend we use **1200x630 as PNG**, each network will crop and recompress to suit.

Spec details:

"For Twitter, images must be a minimum dimension of 300x157 or maximum of 4096x4096 pixels and must be less than 5MB in size.

Facebook recommends images that are at least 1200 x 630 pixels for the best display on high-resolution devices. At the minimum, use images that are 600 x 315 pixe

[2019-11-28 15:19] jessicaschilling commented on #396
Related issue: #343 for the meta text in front matter.

[2019-11-29 15:11] ericronne commented on #396
https://makeawebsitehub.com/social-media-image-sizes-cheat-sheet/

[2019-11-29 15:23] cwaring commented on #342
@ericronne thank you, this is great and very similar to what I had in mind :). I'm implementing the visual layout now and after experimenting with the voting options I've settled on a way to merge the functionality with the "was this helpful" widget.

[2019-11-29 17:24] johnnymatthews commented on #392
This contribution guide is probably best as a one pager covering the following topics:

## Content Guidelines

- Style
- Tone
- Grammar

## How to Contribute

- Types of Contribution:
    - Fixes
    - New Articles or Pages
- File an Issue
- Create a PR
- Discuss

## Tools and Workflow

- VSCode Extensions
- Grammar and Spelling

[2019-11-29 17:43] johnnymatthews commented on #342
Yeah me to. Not a fan of a bunch of icons in the copy.

[2019-11-29 17:46] johnnymatthews commented on #317
Things are improved from my end, but as you pointed out it'd be good to get someone else outside of the docs project to test things.

[2019-11-29 19:08] ericronne commented on #315
Here's the summary of those sessions, including some change suggestions for discussion next week.

https://hackmd.io/gdRqxFZoRy-U-xB1DHitIA?view

[2019-12-02 09:26] momack2 commented on #271
Hey @cwaring - wondering what the status is on this. Is there any existing code/PRs to ensure our v2 beta site will be on IPFS? Would love to see the more detailed plan (and a due-by date) so we can also reflect that back to the folks at Ethereum who have a vuepress based site we'd like to get on IPFS.

[2019-12-02 17:42] johnnymatthews commented on #311
I take it we have a GA account for monitoring this stuff. Who's the point of contact for that? I might be able to link up the analytics and take some of the weight off you @cwaring if I can get access to the GA account.

[2019-12-02 22:56] johnnymatthews commented on #392
This issue has been partially addressed by b2e0438cecea3c089ddd43d54275a0d3b77690e1. Just need to finish up the code persona.

[2019-12-03 10:20] cwaring commented on #311
@johnnymatthews yep, GA is already setup. Electric can grant you account access if you ask nicely.

[2019-12-03 16:36] jessicaschilling commented on #351
Assigning @johnnymatthews to this issue as well, since he's offered to draw up a mind map of the new/updated content plan that can be used in the blog post (and elsewhere as possible).

[2019-12-03 17:04] johnnymatthews commented on #351
Map should be finished in the next couple of days. There's a lot of figuring out where current posts go, where the holes are, and how to fill them in.

[2019-12-03 17:31] johnnymatthews commented on #311
Nice, got access now. I'll start setting up the metrics from #310.

[2019-12-03 17:42] jessicaschilling commented on #271
@olizilla and I had a quick chat about this and https://github.com/olizilla/all-relative ... he may also have some additional input, too.

[2019-12-03 17:42] cwaring commented on #342
With ipfs/ipfs-docs-v2/pull/28 merged has everything been captured to close/complete this issue?

💁‍♀️[Live preview url for your convenience](https://docs-beta.ipfs.io/essentials/bitswap/).

[2019-12-03 17:46] ericronne commented on #342
:shipit: 🚀

[2019-12-03 17:59] jessicaschilling commented on #342
Re-opening, because I need to actually implement the content for those landing page stubs.

[2019-12-03 18:06] cwaring commented on #271
Hi folks. No additional code has been written for this yet other than the prototype that I had running locally a while back.

We had a team meeting last week in order to triage the remaining [main priority tasks](https://github.com/ipfs/docs/milestone/3) towards the end of the year, this is the current order of implementation that we are working to (including this task).

If we wish to make this a

[2019-12-03 18:08] cwaring commented on #319
This is now linked from the beta as an MVP, closing for now.

[2019-12-03 18:08] #319 closed

[2019-12-03 18:37] jessicaschilling commented on #271
Current agreed status as discussed in [Monday's WG call ](https://docs.google.com/document/d/1EOD-pJi4GvRmGi9HHocgVV8uVHMFIZlyVgJDkvC3DQ4/edit#heading=h.o81gxgtxn8am)...
- We are not approved to launch beta off IPFS
- That said, we have support for moving the initial mid-Dec launch date out to approx mid-Jan if needed
- We may be able to get some help from others within the IPFS core org (@olizill

[2019-12-03 19:01] momack2 commented on #271
Thanks for the update. This is a blocker for a public launch / comms - so the question in my mind is if we can find others to pitch in on this. @cwaring  - can you link your draft PR with your local demo so we can keep track of that in one place?

Folks that come to mind that may have bandwidth (aka this is higher priority than their current projects) and expertise also include @dominguesgm @hugom

[2019-12-03 19:16] hugomrdias commented on #271
Feel free to ping me I'll help !! Let's ship this ;)

[2019-12-03 19:23] jessicaschilling commented on #342
Also, two other quick modifications from our sync call - @cwaring, are you still OK to implement these?
- Remove "edit on GitHub" footer content from these pages only
- Links for "check status" and "help with this page" (both the same destination, and driven from front matter) need to be a URL rather than a GitHub issue number, because they may refer to issues in other repos

[2019-12-03 20:23] jessicaschilling commented on #342
Stub content is added in https://github.com/ipfs/ipfs-docs-v2/pull/29 ... @cwaring, can you please take a quick glance?

[2019-12-03 20:59] jessicaschilling commented on #392
@johnnymatthews Awesome! Just please be sure to update any changes in the beta as well. Thanks!

[2019-12-03 21:01] cwaring commented on #310
We should also capture outbound links so we can tally popular site exits.

[2019-12-03 21:07] jessicaschilling commented on #317
For the sake of rapid iteration, perhaps you could have a quick conversation with @lidel or @mikeal or @jimpick to walk through the search (aka just ask them to play with it for a bit)? Is that something you might be able to do this week?

[2019-12-03 23:08] jessicaschilling opened #398 "[CONTENT IMPROVEMENT] Refactor docs homepage"
Augment the docs home page to include:
- A more complete welcome message including a very basic intro to IPFS, and click-through to the "what is IPFS" content that already exists

Content should be located here: https://github.com/ipfs/ipfs-docs-v2/blob/master/docs/README.md

_Note: This issue was generated as a result of Nov 2019 internal user testing. Background can be found in the [summary](htt

[2019-12-03 23:12] jessicaschilling opened #399 "Make expanded navigation subheads sticky?"
On the docs beta, should we make expanded navigation subheads sticky, so users always know what sections they are viewing?

This issue provides a space to discuss and possibly implement.

_Note: This issue was generated as a result of Nov 2019 internal user testing. Background can be found in the [summary](https://hackmd.io/gdRqxFZoRy-U-xB1DHitIA?view) (source: #315)._

[2019-12-03 23:15] jessicaschilling opened #400 "Exploit in-page nav to make API and CLI commands easier to find"
Initial launch of docs beta doesn't include the in-page nav. Let's investigate whether we should bring it back in to make API and CLI commands easier to find until we implement a more robust approach to API/CLI documentation as discussed in #393.

_Note: This issue was generated as a result of Nov 2019 internal user testing. Background can be found in the [summary](https://hackmd.io/gdRqxFZoRy-U-x

[2019-12-03 23:27] jessicaschilling opened #401 "Investigate IPFS emulation for try-as-you-go docs"
Investigate difficulty/rewards involved in
- Adding sandboxing to How-tos in general
- Creating an emulated IPFS CLI for that sandboxing, so users could immediately try what they learn without having to spin up a local instance. (Note: For within-site usage you can use js-ipfs - like what ProtoSchool is doing - with an in-browser node.)

Let's use this issue to discuss and possibly implement.

_No

[2019-12-03 23:30] ericronne commented on #399
When we're able to implement in-page right nav, that should help resolve this issue for users.

[2019-12-04 00:01] ericronne commented on #400
A sticky in-page nab might not work with such a long list, unfortunately. It would bleed off the bottom. Although it’s no excuse for bad ux, api reference interfaces seem to be almost universally bad.

If the commands could be chunked into subcategories (a la [Twitter’s api reference](https://developer.twitter.com/en/docs/api-reference-index)), an in-page nav might be helpful.

[2019-12-04 00:06] jessicaschilling commented on #315
I've issue-ized the following recommendations based on this report, for us to prioritize for Q1 2020 action:
- Docs home page enhancements #398
- Make expanded navigation subheads sticky? #399
- Exploit in-page nav to make API and CLI commands easier to find #400
- Investigate IPFS emulation for try-as-you-go docs #401

I've also made the following PRs to quickly address some of the simpler recomm

[2019-12-04 01:00] jimpick commented on #317
I'd love to help out!

[2019-12-04 14:22] cwaring commented on #343
I'll experiment with [this plugin](https://github.com/webmasterish/vuepress-plugin-autometa) to see if it can generate acceptable results.

[2019-12-04 14:46] jessicaschilling commented on #343
I’m happy to take a manual first pass so this can free up your time for other efforts, @cwaring. It’s on my list for today.

[2019-12-04 15:01] cwaring commented on #271
I've [updated a gist](https://gist.github.com/cwaring/d27a3330ad0334b0e96475b9ff808fae) with the steps necessary to post process a VuePress build and make it hash and IPNS aware so that is suitable for hosting on IPFS.

There is also a [related plugin](https://github.com/cwaring/vuepress-plugin-ipfs) with hooks setup so that we can begin to implement this and test the results.

More detailed plans

[2019-12-04 15:01] ericronne commented on #343
dam u, google

On Wed, Dec 4, 2019 at 8:46 AM Jessica Schilling <notifications@github.com>
wrote:

[2019-12-04 16:39] johnnymatthews commented on #392
Merged into `ipfs/docs master`: 173d0d1. Also Copied into `ipfs/ipfs-docs-v2`.

[2019-12-04 17:28] jessicaschilling commented on #392
Some follow-up ...
- Where is this page being linked to nav-wise in both the legacy and the docs beta?
- Are there deep links within the docs content that should link out to this page?
- Can you please add a link to this to the main ipfs dev contributor guidelines? https://github.com/ipfs/community/blob/master/CONTRIBUTING.md

[2019-12-04 17:57] terichadbourne commented on #401
Are you only interested in this if it's pretending to be a CLI and not if it's using the js-ipfs API as ProtoSchool does?

Related suggestion for a more free-form sandbox in ProtoSchool, although I don't personally think it would meet learner needs there: https://github.com/ProtoSchool/protoschool.github.io/issues/214

[2019-12-04 17:58] #315 closed

[2019-12-04 18:03] jessicaschilling commented on #288
Wrapping up this epic with the closure of #315.

[2019-12-04 18:03] #288 closed

[2019-12-04 18:04] terichadbourne commented on #351
Just popping in to say that this comms plan looks great. ❤️

[2019-12-04 18:13] jessicaschilling commented on #289
Removing #320 from this epic due to wanting more time post-beta-launch to accumulate votes before prioritizing next steps. (We'll incorporate this into Q1 2020 OKRs.)

With that, this epic can be considered complete.

[2019-12-04 18:13] #289 closed

[2019-12-04 18:14] jessicaschilling commented on #320
Update: We'll want a month or two post-beta-launch to accumulate votes, but action on those results is scheduled to be included in our Q1 2020 OKRs.

[2019-12-04 18:29] jessicaschilling commented on #401
@terichadbourne I think we're interested in "whatever", haha. The mention of the CLI emulator was as an effort to give the user a (semi-fake but still functional for its purpose) sandbox/playpen for doing things that don't work in the js-ipfs API, so they can play without having to actually install and start up an IPFS node on their local.

[2019-12-04 18:40] terichadbourne commented on #401
Just a reminder that @achingbrain already built a browser-based CLI emulator convincing enough that people thought he was using the actual command line for his lightning talk at IPFS Camp. 🏆

[2019-12-04 20:36] ericronne opened #402 "Restyle alert panels"
When time allows, here's some mods for the various alert blocks. I'm happy to attack myself, but first need someone such as @cwaring to show me where the controls are buried.

![image](https://user-images.githubusercontent.com/9259185/70178640-3d77dd00-16a2-11ea-8ac0-f4acc0931449.png)

- [ ] Narrow the left strip to 4 pixels wide for all
- [ ] `0.5px` letter spacing for the all-caps headers
- [ ]

[2019-12-04 20:44] terichadbourne commented on #391
Just flagging that some of the visuals we create for docs will also prove useful in ProtoSchool or vice versa. For example, I think there were some useful graphics created for core course slide decks at IPFS Camp that we could steal for both places. (See issue reviewing camp content for usefulness, still WIP: https://github.com/ProtoSchool/protoschool.github.io/issues/261)

[2019-12-04 20:51] jessicaschilling commented on #341
Filed https://github.com/ipfs/ipfs-docs-v2/pull/35 -- once this is approved/merged we can call this issue done (pending merge of #384 the night before launch).

[2019-12-04 22:07] ericronne opened #403 "Enhancement: Implement previous/next links in the footer"
Currently much of the docs content isn't very well threaded, but upcoming changes (like those proposed by @johnnymatthews in #389) should serve to improve the overall content flow from page to page. In the mean time, users may find it handy to have this secondary/analog method of navigation available. This may be especially true for mobile, where users otherwise have to toggle open a menu in order

[2019-12-04 22:18] ericronne opened #404 "Prev/Next nav: Solve for off-site content"
In order to implement our previous/next footer navigation (#403), we must first remedy the problem of left-nav items which link directly to content on other websites.

It's user-unfriendly for the left nav to have as many offsite links as it currently does anyway, so let's solve this problem.

[2019-12-04 22:28] ericronne commented on #404
One solution would be to make a docs page for each of these links. That page would include brief info gleaned from the destination content, and of course, the link itself.

[2019-12-04 22:31] jessicaschilling commented on #404
One thought - as we migrate a lot of go-ipfs and js-ipfs content out of their respective repos and onto the docs site, a TON of those external links are going to vanish.

[2019-12-04 23:26] johnnymatthews commented on #391
I completely agree. There's going to be a bunch of images/diagrams/code-blocks/examples/jokes we can use across both platforms. I'll try to loop you in @terichadbourne when we're creating something that could be useful for ProtoSchool.

[2019-12-04 23:27] johnnymatthews commented on #403
I take it those links need to be defined in the front-matter of each article, correct? Or will it just take those values from the sidebar nav?

[2019-12-04 23:30] jessicaschilling commented on #403
Pretty sure it just auto-populates from the sidebar nav setup.

[2019-12-04 23:37] cwaring commented on #403
It’s auto by default with the option to override or disable per page using
some front matter config. Nice and flexible!

On Wed, 4 Dec 2019 at 23:30, Jessica Schilling <notifications@github.com>
wrote:

[2019-12-05 14:26] johnnymatthews commented on #317
The reaction from the testing was very positive. The main feedback was that some pages (Merkel DAGs and Content Addressing and CIDs, for example) should separate into more digestible chunks. These topics are pretty complicated, so it makes sense to create more straightforward posts that are easier to understand.

However, from a searching stand-point, everything looks good!

[2019-12-05 14:29] johnnymatthews commented on #317
Probably not a terrible idea to just collect search data all the time, just a long as it's not tied to any particular user. I'll raise this point in #310.

[2019-12-05 14:29] #317 closed

[2019-12-05 14:58] johnnymatthews commented on #310
# Docs beta metrics collection

This report dives into what metrics we should collect, why, and when we're going to use the data.

## Justification for metrics collection

The use of Google Analytics (GA) on a website aimed at distributing the web and improving the internet as a whole is relatively hypocritical. However, the fact is that GA offers the best metrics and analytics tools with minimal

[2019-12-05 15:15] jessicaschilling commented on #385
UPDATE: Bug found by @jimpick:
"Make the the input field in the search box is a minimum of 16px ... otherwise iPhones will automatically zoom the viewport which wrecks the responsive layout - it looks like it's currently font-size: 0.9rem"

@cwaring and @ericronne, is it possible to get a fix for this included in this round of edits?

[2019-12-05 15:24] jessicaschilling commented on #310
I've referred to @johnnymatthews' report in https://github.com/ipfs/docs/issues/310#issuecomment-562165787 in issue #311 for implementation -- @johnnymatthews and @cwaring, please implement as you're able. Thank you so much - closing this issue!

[2019-12-05 15:24] #310 closed

[2019-12-05 15:43] jessicaschilling commented on #311
For reference, here's the list of things to be implemented per @johnnymatthews' report: https://github.com/ipfs/docs/issues/310#issuecomment-562165787

[2019-12-05 18:36] jessicaschilling commented on #389
See below for @johnnymatthews' mind map of the concepts organized above:
![image](https://user-images.githubusercontent.com/1507828/70263360-60ae9500-1753-11ea-9e3d-66bfd917c5a1.png)

[2019-12-05 18:48] jessicaschilling commented on #351
@johnnymatthews -- I've moved the mind map into issue #389 since it's maybe a little early-stage for the blog post, but SUPER useful for that issue. Thank you!

[2019-12-05 20:11] ericronne commented on #385
☝️ requires the chops of @cwaring

[2019-12-05 20:38] jessicaschilling commented on #311
I've taken a first pass at setting up a Google Data Studio report here:
https://datastudio.google.com/open/1IfRhGSN06uVIHfjIG2Pn1n8s54yx35Kq
If you feel that you should be an admin on this report, but didn't receive an invitation, please let me know.

I was able to set up reporting for most of @johnnymatthews' parameters as listed in https://github.com/ipfs/docs/issues/310#issuecomment-562165787,

[2019-12-05 23:49] jessicaschilling commented on #396
I needed to add a draft social sharing card so I could test the SEO optimization stuff in #343 -- the result is here: https://raw.githubusercontent.com/ipfs/ipfs-docs-v2/master/docs/.vuepress/public/images/social-card.png

@ericronne, I assume you'll want to change the actual visuals. Please, when you do, just keep the image dimensions, name etc. Thanks!

[2019-12-05 23:52] jessicaschilling commented on #396
@ericronne FWIW, you can see how the existing one is cropped in Twitter as below.
![image](https://user-images.githubusercontent.com/1507828/70283714-6b7f1f00-177f-11ea-842e-dbdd8acbf023.png)

Facebook, on the other hand, doesn't crop:
![image](https://user-images.githubusercontent.com/1507828/70283732-7a65d180-177f-11ea-98eb-27a941044906.png)

I'd suggest something that plays well in both setting

[2019-12-05 23:53] jessicaschilling commented on #396
If you want to try the sharing tools, they're here:
https://developers.facebook.com/tools/debug/sharing/
https://cards-dev.twitter.com/validator

You'll need to use a deploy preview from https://github.com/ipfs/ipfs-docs-v2/pull/36 since it's not merged yet. This one should work: https://deploy-preview-36--ipfs-docs-v2.netlify.com/concepts/dht/

[2019-12-05 23:59] jessicaschilling commented on #343
Combed through https://htmlhead.dev/ and am implementing the following meta tags in https://github.com/ipfs/ipfs-docs-v2/pull/36 as a combination of front matter (for tags that depend on the original page) and `head.js` (for tags that are consistent sitewide).

GLOBAL:
[code]

FACEBOOK - sharing debugger at https://developers.facebook.com/tools/debug/sharing/
[code]

TWITTER - card validator at ht

[2019-12-06 10:55] achingbrain commented on #401
Sort of related-but-as-yet-future-tech, as part of adding UnixFSv1.5 metadata to `js-ipfs-mfs` I added a CLI test suite that made it necessary to stub all interactions between the cli code and the tests (e.g. pass functions in that supply input and receive output).

This will form the model for CLI testing in `js-ipfs` going forwards which means the CLI code will no longer depend on node-specific

[2019-12-06 11:01] cwaring opened #405 "Hosting Web Apps on IPFS"
![Vuepress on IPFS](https://user-images.githubusercontent.com/106938/70317123-0b3abc80-1815-11ea-859a-eb91c0ab4a81.png)

Thanks to @hugomrdias and @lidel for chatting through all various scenarios yesterday, below are a few thoughts and next steps balanced against time/effort and overall impact.

The first (and perhaps most important) thing to note is that this problem is not isolated to VuePress,

[2019-12-06 13:32] ericronne commented on #396
Given the crazy range of potential cropping that sites will perform, simplest is probably best for now …
![image](https://user-images.githubusercontent.com/9259185/70326220-9c9c3580-17f9-11ea-8242-66e4453fb218.png)

[2019-12-06 15:07] terichadbourne commented on #405
I love the idea of pursuing the goal that helps the most real-world developers host sites on IPFS without having to alter the rest of their stack, including in the very common pattern of client-side routing.

Quick clarifying question on this aspect of Option 1, and apologies in advance because I know my vocabulary isn't up to asking it properly:

Is this about...

(A) letting people choose betwee

[2019-12-06 17:03] jessicaschilling commented on #396
Thank you! Closing this issue. 😊

[2019-12-06 17:03] #396 closed

[2019-12-06 17:26] olizilla commented on #405
how do you like these apples https://github.com/ipfs-shipyard/ipfs-dns-deploy/pull/7

[2019-12-06 17:40] #385 closed

[2019-12-06 17:52] jessicaschilling commented on #385
🚢 🚢🚢
It's so beautiful I could cry 😊 . 😢

[2019-12-06 17:57] jessicaschilling commented on #405
@olizilla I like these apples very much, they are delicious

[2019-12-06 18:01] olizilla commented on #405
@terichadbourne Yes! it's about always loading the "normal internet" (aka http) version first, and informing the user that an ipfs flavour version of the site is available if they would rather fetch it that way. I assume it would also mean "fallback to ipfs" if http is unavailable.

[2019-12-06 20:25] lidel commented on #405
Starting with IPFS Companion [v2.9.0.872](https://github.com/ipfs-shipyard/ipfs-companion/releases/tag/v2.9.0.872) user will load DNSLink website in "normal" way by default (over original HTTP server), but still get context actions including new one "View on Gateway".

If `docs.ipfs.io`  (or any other DNSLink website) is down, IPFS Companion will recover from Gateway in a new tab (public or local,

[2019-12-06 20:57] momack2 commented on #405
I’m not sure I’ve fully processed option #1 - but my understanding is the suggestion means the vuepress site will *still be broken* when loaded over ipfs, but to effectively *turn off loading over ipfs* without explicit user interaction for most people browsing with companion/desktop so they’re less likely to experience this issue in our docs site. Is that an accurate summary? In that model, what

[2019-12-06 22:41] olizilla commented on #405
I've wanted this for a long time https://github.com/ipfs-shipyard/ipfs-companion/issues/710

[2019-12-06 22:57] terichadbourne commented on #405
I too look forward to hearing a little more about the order of operations for Option 1. In my experience with standard Offline First patterns and PWAs, I've found that the best user experience is to load first from local cache if you have it (fastest possible load time and avoiding getting stuck in LieFi state but possibly outdated information), then immediately try to pull an updated version from

[2019-12-06 23:21] momack2 commented on #405
I think the proposed changes to companion call for a design review meeting. What we decide and spec out from that review should also get input from @jbenet to ensure we have longer-term roadmap alignment. Let's keep surfacing details and constraints on this thread, and synthesize into prioritized decision making criteria to refine during that meeting. I propose @lidel as ultimate decision-owner re

[2019-12-07 00:12] lidel commented on #405
_(I'll try to be brief :see_no_evil: )_

## TL;DR

I believe the underlying idea behind _Option 1_ is to double down on our efforts to move towards [subdomain gateways](https://docs.ipfs.io/guides/guides/addressing/#subdomain-gateway) and [Origin-based security](https://en.wikipedia.org/wiki/Same-origin_policy) to enable people to use existing web tools like vuepress as-is, and stop _patching othe

[2019-12-07 00:18] momack2 commented on #405
Great, let’s make Thursday our official decision deadline then to allow a release on Friday. SGTY?

[2019-12-07 01:53] jessicaschilling commented on #405
Thanks so much, @lidel, for all this context. I’ve unfortunately got an immovable dentist appointment during that time, but not sure how much value I have to add to the meeting that can’t already be provided by @cwaring, @johnnymatthews and @terichadbourne. Much appreciated!

[2019-12-07 01:54] jessicaschilling commented on #405
PS - just confirming Tues, not Thurs, as that’s what I currently see on the calendar.
cc @momack2

[2019-12-07 02:40] autonome commented on #405
I want to emphasize that this particular bit is not optional for the project as a whole.

Bypassing the same-origin policy is a [serious security concern](https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=same-origin), and IPFS HTTP gateways are configured with this problem out of the box. We've long known this, and as the various linked issues this thread show, we intend to fix it.

The CID-in-sub

[2019-12-09 14:21] daviddias commented on #405
I know there is a lot of people here are doing some deep thinking in the best solution to this challenge and I understand that there are new ideas to this old problem. I do want to share some notes from the dinner convo I had with @cwaring yesterday. I believe we yielded some great litmus tests that can aid to make our final decision. Take the following just as things to consider :)

1. We should

[2019-12-09 14:58] johnnymatthews commented on #351
Mind map of the _current docs_ hierarchy and content.

![Current Map](https://user-images.githubusercontent.com/9611008/70445826-30743880-1a6a-11ea-8425-fb0af4d296a5.png)

[2019-12-09 15:24] jessicaschilling commented on #351
@johnnymatthews This is awesome! Thanks.

[2019-12-09 17:22] johnnymatthews commented on #400
API docs are different from regular documentation, so it makes sense that we present API stuff differently. [Readme.com](https://docs.readme.com/reference/api-specification) has an exciting way of showing this stuff. It might be that we need to have a completely different template for API docs.

[2019-12-09 18:20] ericronne commented on #400
Yes readme's sandbox addition is nice. These references are definitely a sticky design challenge, which few others seem to have handled all that well. In the "All the docsites" hackdoc i've added a separate section to collect samples of good API/CLI reference design.

https://hackmd.io/A0iF9RweSAmZtyanQuKeUw?view#%F0%9F%A4%96-Interesting-API-reference-design. Keep em coming!

[2019-12-09 18:42] jessicaschilling commented on #351
Update: Remainder of plan will be delayed pending the final outcome of IPFS hosting decisions discussed in design review tomorrow; see #271 for progress on that. However, all the materials in the comms plan are ready to ship as soon as we confirm a ship date for the docs themselves.

[2019-12-09 20:18] jessicaschilling commented on #308
Closing this issue, since much of this has been discussed in various meetings and I'm currently assembling the results under #308.

[2019-12-09 20:18] #308 closed

[2019-12-10 00:12] ericronne opened #406 "Remove feature-request button from header"
Remove the link from the header, since [this pr](https://github.com/ipfs/ipfs-docs-v2/pull/35) shifts it to the callout box at the bottom of the page.

![image](https://user-images.githubusercontent.com/9259185/70483789-4ce69400-1aaf-11ea-956b-79bce0b6df49.png)

[2019-12-10 00:21] jessicaschilling commented on #406
@cwaring, do you mind implementing this one? Thank you!

[2019-12-10 14:39] ericronne opened #407 "Relabel "Help us improve this page on GitHub""
This unit is being generated on the beta site via **[PR 35](https://github.com/ipfs/ipfs-docs-v2/pull/35)**:
![image](https://user-images.githubusercontent.com/9259185/70538245-63303680-1b27-11ea-8ff1-0607b724f7c4.png)

Looking at it in the context of the footer makes me wonder about "Help us improve this page on GitHub." That phrasing might lead some to think it's a link to make an issue. The abo

[2019-12-10 14:40] ericronne commented on #407
"Assigning" to gather the group for discussion

[2019-12-10 14:40] jessicaschilling commented on #407
@ericronne Fine by me. Make a PR for the change?

[2019-12-10 14:45] johnnymatthews commented on #398
A bunch of people mentioned that our homepage is pretty lack-luster at the moment. I've thrown this sketch together to suggest some things that we might do.

![Rough sketch on paper of a potential layout for the homepage.](https://user-images.githubusercontent.com/9611008/70538637-70055800-1b30-11ea-97a5-b2453e1752ef.jpg)

The main three sections I want to bring up here:

1. We're not wasting the

[2019-12-10 14:47] terichadbourne commented on #407
I also prefer your new wording. 🏆

[2019-12-10 14:55] johnnymatthews commented on #398
Here's some copy to go along with the homepage. Pasting here for history:

---

Educate Yourself
Whether you're a tiny startup or a massive company, you need to learn how to protect yourself from the dangers of a centralized internet. This website contains a bunch of articles and guides to help you, your company, and your product grow.

Host your website on IPFS
Protect your site from a single poi

[2019-12-10 14:58] cwaring commented on #407
👌 with me, your proposed copy is closer to the default text too.

It can be changed here: https://github.com/ipfs/ipfs-docs-v2/blob/master/docs/.vuepress/config.js#L41

[2019-12-10 15:02] jessicaschilling commented on #398
@johnnymatthews This is great! Are you comfortable building the page after you and @ericronne discuss? It’s a fairly simple layout, so would be awesome if we could avoid invoking the powers of @cwaring unless/until necessary.

[2019-12-10 16:22] johnnymatthews commented on #398
Yeah sure, can't be too hard. Great ready for some conflicting inline styles and `!important` flags!

[2019-12-10 17:51] cwaring commented on #398
@johnnymatthews 👀

[2019-12-10 17:54] cwaring commented on #332
First stage complete.

[2019-12-10 17:54] #332 closed

[2019-12-10 17:54] jessicaschilling commented on #351
Dates changed to January pending directive given regarding #271.

[2019-12-10 17:59] terichadbourne commented on #398
If we're going to use "host a website" as the example use case, let's be very clear to use an extremely static website as the example and in all labelling "host a STATIC website". There's too much ongoing confusion around support for modern web apps right now to venture into that territory and reinforce existing misconceptions about core strengths of IPFS.

[2019-12-10 18:00] jessicaschilling commented on #405
Design decision has been made, and will be issue-ized and worked shortly.

[2019-12-10 18:01] lidel commented on #405
I'll post meeting notes and summary of next steps on Companion end later today/tomorrow morning.

[2019-12-10 19:58] johnnymatthews commented on #398
Yeah good point @terichadbourne. Here's a very hacked-together preview of what things _could_ look like. The wording is likely going to change, but this gives us an idea of spacing and general _flow_.

![getting-started-homepage-hack](https://user-images.githubusercontent.com/9611008/70564050-7100ae80-1b5d-11ea-8958-773212c715e4.png)

[2019-12-10 20:02] jessicaschilling commented on #398
This is awesome 😊 One thing you wouldn't have any reason to know, but ... we try to avoid using "upload" in favor of more generic words like "add", just because "upload" has a lot of centralized hosting connotations.

[2019-12-10 20:42] cwaring commented on #407
Implementing this in https://github.com/ipfs/docs/issues/306

[2019-12-10 20:42] #407 closed

[2019-12-10 20:48] johnnymatthews commented on #398
That's a good point, didn't think of that! I'll make a note to look out for that in future.

[2019-12-10 23:42] lidel commented on #405
Thank you all for contributing to this conversation in text form and during the call :heart:

Meeting notes can be found at https://github.com/ipfs/team-mgmt/pull/1081

Below is my understanding of decisions made.
I had to jump to another meeting, so please correct me if I got anything wrong :pray:

### Decisions

In a spirit of [disagree and commit](https://en.wikipedia.org/wiki/Disagree_and_comm

[2019-12-11 00:40] jessicaschilling commented on #309
I've taken a pass at a deprecation/migration checklist: https://hackmd.io/-JU3CcXgSgmcXWszyku2PA
@johnnymatthews and @cwaring -- can you please have a look to see if this is solid enough for us to close this issue? Thank you!

[2019-12-11 01:49] momack2 commented on #405
Thanks for the great preparation, summary, and ownership @lidel!! Appreciate all your great work and preparation making sure we came into a deeply technical and interwoven topic with the needed context and background! 👍❤️🎉

[2019-12-11 14:13] lidel commented on #398
@johnnymatthews I really like the _Educate yourself_ approach, and starting with _Host a static website on IPFS_  is the right way to frame it right now :ok_hand: (thanks @terichadbourne!)

Yes, "add" and "import" are much better choices (_import_ is what Filecoin uses)
FYSA in our browser extension we [switched from _upload_ to _import_](https://github.com/ipfs-shipyard/ipfs-companion/issues/817)

[2019-12-11 14:28] jessicaschilling commented on #398
Sounds like standardizing on “import” is the best move. 😊

[2019-12-11 17:02] johnnymatthews commented on #309
Just made some modifications, mainly:

1. Yes, we should keep sitemaps and SEO stuff for consistency.
2. For the ipfs/docs repo, let's archive the current one, and rename ipfs/ipfs-docs-v2 to ipfs/docs. That should fix most broken links. Plus, when you rename a repo GitHub does automatic redirects for you, I think.
3. Let's use the analytics to give us a list of all inbound GitHub links, then run

[2019-12-11 17:48] terichadbourne commented on #309
I'd be surprised if we can keep the current site at `ipfs/docs`, archive it, and then rename `ipfs/ipfs-docs-v2` to `ipfs/docs`. My assumption is that we'd need to first rename `ipfs/docs` to `ipfs/docs-legacy` (or similar), archive it, and then rename `ipfs/docs-v2` to `ipfs/docs`.

[2019-12-11 17:58] jessicaschilling commented on #309
@terichadbourne Good point, do you mind editing the HackMD accordingly?

[2019-12-11 18:03] johnnymatthews commented on #309
Yeah you're right @terichadbourne! Just tried to archive a repo and then create a repo with the same name and GitHub wouldn't let me. Nice catch!

[2019-12-11 18:17] terichadbourne commented on #309
Made some edits but I'm honestly quite confused about the order of operations more broadly. Like why would we be re-sorting the GH repos two days AFTER making the transition to showing v2 as the live website? I'm used to using GH Pages so maybe I'm not understanding how our infra works.

Also, note that "Warning: If you create a new repository under your account with the same name as the transferr

[2019-12-11 19:30] johnnymatthews commented on #309
This could be a problem. Another solution could be to create a new branch called `new-docs`, and put everything in `ipfs/ipfs-docs-v2` into there and set `ipfs/docs:new-docs` as the _main_ branch. Then three months or so down the line remove everything from `ipfs/docs:master`, merge in everything from `ipfs/docs:new-docs`, and then set the `ipfs/docs:master` as the _main_ branch again. This way we

[2019-12-11 19:44] jessicaschilling commented on #309
One good thing about archiving ipfs/docs and NOT moving ipfs/ipfs-docs-v2 to that namespace means, as @terichadbourne pointed out, we can take advantage of GH's auto-redirecting, and the automatic "this repo has been archived" notices that GH posts in banners.

Teri's also got a really good point that URLs to .md documents (nor issue numbers) aren't going to remain consistent from legacy to new si

[2019-12-11 20:48] terichadbourne commented on #309
@johnnymatthews do you mean that we'd essentially be merging the old site into the new one and overwriting it all, with the old site available in the history? I assume it would still have the same problem I raised, in that it would try to find a specific markdown file or whatnot that doesn't exist anymore, so may not be helpful unless I'm misunderstanding your goal.

@jessicashilling I agree that

[2019-12-12 15:32] johnnymatthews commented on #309
Yeah @terichadbourne I was misunderstanding the problem. My solution wouldn't work. But yeah, you bring up a good point, do people share GitHub links directly? If docs are available on a website I'll pretty much always share that link, rather than sift through GitHub repos for docs.

[2019-12-12 18:41] jessicaschilling commented on #306
Closing this issue via https://github.com/ipfs/ipfs-docs-v2/pull/41 😊

[2019-12-12 18:41] #306 closed

[2019-12-12 18:41] jessicaschilling commented on #406
Closing this issue via https://github.com/ipfs/ipfs-docs-v2/pull/41 😊

[2019-12-12 18:41] #406 closed

[2019-12-12 18:42] jessicaschilling commented on #342
Closing this issue via https://github.com/ipfs/ipfs-docs-v2/pull/41 😊

[2019-12-12 18:42] #342 closed

[2019-12-12 18:47] jessicaschilling commented on #341
Closed via https://github.com/ipfs/ipfs-docs-v2/pull/41 😊
Please note that we will still need to merge #384 immediately prior to beta launch to fully take care of this effort — BUT as it's included in the checklist for the comms plan (see https://github.com/ipfs/docs/issues/351#issue-506051033), it won't get lost.

[2019-12-12 18:47] #341 closed

[2019-12-12 18:51] jessicaschilling commented on #311
Update: https://github.com/ipfs/ipfs-docs-v2/pull/41 implements the track-ability necessary to include the remaining custom events in this report 😊
@cwaring, much appreciated, and let me know if I can take over any work on wrapping this issue up!

[2019-12-12 18:58] jessicaschilling commented on #309
All -- this has been a super-useful discussion. It sounds like we're ready to call this phase of the effort done, with the knowledge that we're all mulling over what to do about the potential repo location switchery, and the understanding that we'll still need to make a final decision on that once we sync up this checklist with a real-world calendar.

I'm going to close this issue, since we'll be

[2019-12-12 18:58] #309 closed

[2019-12-12 18:59] jessicaschilling commented on #285
Closing this issue -- deprecation plan can be found here: https://hackmd.io/-JU3CcXgSgmcXWszyku2PA

[2019-12-12 18:59] #285 closed

[2019-12-12 19:43] jessicaschilling commented on #329
Update: A number of these ended up in individual issues related to https://github.com/ipfs/docs/milestone/3. I'll separate the remaining ones into their own issues for bite-size pieces to handle in Q1.

[2019-12-12 19:44] jessicaschilling commented on #330
Closing this one, since work is being tackled in a number of individual issues. See https://github.com/ipfs/docs/issues/329#issuecomment-565155974 for the discussion trail.

[2019-12-12 19:44] #330 closed

[2019-12-12 19:46] #344 closed

[2019-12-12 19:46] jessicaschilling commented on #344
Closing this, since topics here are being covered in a variety of other issues.

[2019-12-12 19:52] jessicaschilling commented on #383
This has been fixed in the last round of theme edits 😊

[2019-12-12 19:52] #383 closed

[2019-12-12 19:54] #333 closed

[2019-12-12 19:58] jessicaschilling commented on #400
Adding screenshot of @ericronne's visual layout of the right-hand nav.
https://user-images.githubusercontent.com/9259185/68242374-0399b500-ffd6-11e9-8a10-2b5fd21048a3.png

[2019-12-12 20:04] jessicaschilling commented on #119
Adding this screenshot from @ericronne illustrating visual layout of a "related content" section on the new docs site; this can be used to include project-generated or community-generated links. We can use the same front-matter methodology as the content stub pages' "try these links in the meantime" links to build this.

![ipfs-docs-style-tile-A](https://user-images.githubusercontent.com/9259185/6

[2019-12-12 20:11] jessicaschilling opened #408 "Update colors in alert/tip boxes"
Per @ericronne theming work, update colors for alert/tip boxes:

![callout boxes](https://user-images.githubusercontent.com/9259185/68699868-84622f00-0549-11ea-9b67-daa060c318dc.png)

[2019-12-12 20:11] #329 closed

[2019-12-16 17:25] cwaring commented on #311
✅📈

[2019-12-16 17:28] jessicaschilling commented on #311
Thanks! Going to re-open the issue until we actually get these into the Data Studio report. Let me know how I can help, @cwaring.

[2019-12-16 17:37] cwaring commented on #311
Good call it's on my radar but happy to keep this marker until it's working. The data should be visible tomorrow after the test events have propagated, so we can configure the report then.

[2019-12-16 17:45] jessicaschilling commented on #311
Sounds great. If you have the time to teach me to fish, I'll go fishing.

[2019-12-16 17:49] jessicaschilling commented on #287
Widget implemented in docs beta! Will need to examine metrics more closely in Q1 -- see #307 -- but OK to close this epic.

[2019-12-16 17:49] #287 closed

[2019-12-16 17:51] #296 closed

[2019-12-16 17:51] jessicaschilling commented on #296
Closing this epic, since all actionable items have been accounted for in issues in either the docs or ProtoSchool repos. Thanks!

[2019-12-16 20:37] jessicaschilling commented on #259
Closing this issue in order to consolidate it into work to be done in #89.

[2019-12-16 20:37] #259 closed

[2019-12-16 20:41] jessicaschilling commented on #62
Closing due to overlap with #94. Also noting that substantial development has been made on Cluster since this issue was originally opened.

[2019-12-16 20:41] #62 closed

[2019-12-16 20:44] jessicaschilling commented on #260
Closing due to overlap with #90. Adding notes from this issue to that issue.

[2019-12-16 20:44] #260 closed

[2019-12-16 20:56] jessicaschilling commented on #405
Closing this issue, since work is being executed in a variety of other locations. See #271 for work on hosting the docs site on IPFS.

[2019-12-16 20:56] #405 closed

[2019-12-16 21:01] jessicaschilling commented on #372
Closing this issue in favor of already-existing #56, and linking in #56 to this discussion so we can implement visuals when we start work on this project.

[2019-12-16 21:01] #372 closed

[2019-12-16 21:02] jessicaschilling commented on #373
Closing, since this is outside the scope of IPFS-hosted docs at present. We can reopen later if feasible. Thanks!

[2019-12-16 21:02] #373 closed

[2019-12-16 21:05] jessicaschilling commented on #291
Closing this issue - we managed to knock off 17 issues in Q4, with the remaining open issues being re-prioritized for Q1 2020. Thanks, all, for the excellent work!

[2019-12-16 21:05] #291 closed

[2019-12-16 21:19] jessicaschilling commented on #292
Closing this epic; we've closed 10+ issues in Q4, and the remainder are being slotted in for Q1 prioritization. Thanks to all for your work!

[2019-12-16 21:19] #292 closed

[2019-12-16 22:11] jessicaschilling commented on #408
Closing as duplicate of #402.

[2019-12-16 22:11] #408 closed

[2019-12-16 22:16] jessicaschilling commented on #404
Folding this back into #403 for ease of discussion; we can separate back into two separate issues if we feel it's helpful later.

[2019-12-16 22:16] #404 closed

[2019-12-16 22:27] jessicaschilling commented on #307
Closing, since this will be handled in Q1 in #312.

[2019-12-16 22:27] #307 closed

[2019-12-16 22:30] jessicaschilling commented on #274
Closing this issue, since we've been bringing a greater awareness of personae into docs content generation overall, and it's therefore being included in individual content items.

[2019-12-16 22:30] #274 closed

[2019-12-16 22:32] jessicaschilling commented on #271
Update: Next working session on this is happening between @cwaring and @hugomrdias tomorrow. Chris and Hugo - can you please update this issue with notes on that session?

[2019-12-16 22:34] jessicaschilling commented on #266
Closing this issue per discussion on https://github.com/ipfs/docs/issues/266#issuecomment-528479779.

[2019-12-16 22:34] #266 closed

[2019-12-16 22:41] jessicaschilling commented on #249
Closing this due to rolling it into the overall desktop-first discussion in #188.

[2019-12-16 22:41] #249 closed

[2019-12-16 22:50] jessicaschilling commented on #94
Closing this issue, since substantial edits have been made in the interim - see https://github.com/ipfs/ipfs-docs-v2/edit/master/docs/concepts/persistence.md .

[2019-12-16 22:50] #94 closed

[2019-12-16 22:58] jessicaschilling commented on #91
Closing this issue, since many concepts have been integrated into the content in https://github.com/ipfs/ipfs-docs-v2/edit/master/docs/how-to/address-ipfs-on-web.md.

[2019-12-16 22:58] #91 closed

[2019-12-16 23:11] jessicaschilling commented on #87
Closing this issue per https://github.com/ipfs/specs/issues/58 - ongoing work may yet impact this content.

[2019-12-16 23:11] #87 closed

[2019-12-16 23:18] jessicaschilling commented on #55
Support on this didn't follow through, and initial effort is now outdated. Closing.

[2019-12-16 23:18] #55 closed

[2019-12-16 23:18] jessicaschilling commented on #54
Support on this didn't follow through, and initial effort is now outdated. Closing.

[2019-12-16 23:18] #54 closed

[2019-12-16 23:22] jessicaschilling commented on #270
Closing, as we are working this in #366.

[2019-12-16 23:22] #270 closed

[2019-12-16 23:28] jessicaschilling commented on #391
Proposing that we close this issue (please feel free to re-open if you disagree!) in favor of selecting specific items [labeled for new content or content enhancement](https://github.com/ipfs/docs/issues?q=is%3Aissue+is%3Aopen+label%3A%22OKR+1%3A+Content+improvement%22), and moving discussion on integrating diagrams and/or video into those items' issues. Note as well that many of those issues also

[2019-12-16 23:28] #391 closed

[2019-12-16 23:28] jessicaschilling commented on #390
Proposing that we close this issue (please feel free to re-open if you disagree!) in favor of selecting specific items [labeled for new content or content enhancement](https://github.com/ipfs/docs/issues?q=is%3Aissue+is%3Aopen+label%3A%22OKR+1%3A+Content+improvement%22), and moving discussion on integrating diagrams and/or video into those items' issues. Note as well that many of those issues also

[2019-12-16 23:28] #390 closed

[2019-12-16 23:33] jessicaschilling commented on #299
Go-ipfs migration is being worked in #348; de-scoping this issue to just examining and migrating legacy website docs when appropriate.

[2019-12-16 23:42] jessicaschilling commented on #275
Closing, as future persona work may take a different direction.

[2019-12-16 23:42] #275 closed

[2019-12-16 23:58] jessicaschilling commented on #347
Closing this in favor of #119, since our biggest use of this was to generated "related (external) links" to content, and #119 provides a proof of concept of larger-scale taxonomy work.

[2019-12-16 23:58] #347 closed

[2019-12-17 00:08] jessicaschilling commented on #399
Closing this, since adding the in-page nav is being discussed in #400.

[2019-12-17 00:08] #399 closed

[2019-12-17 00:16] jessicaschilling commented on #74
Closing this issue, since our overall approach to API/CLI docs is being worked in #393 in Q1 2020. We're also working on migrating go-ipfs docs as a whole over to the new docs beta under #348.

[2019-12-17 00:16] #74 closed

[2019-12-17 00:17] jessicaschilling commented on #70
Closing this issue, since our overall approach to API/CLI docs is being worked in #393 in Q1 2020.

[2019-12-17 00:17] #70 closed

[2019-12-17 00:27] jessicaschilling commented on #340
Closing, since this issue has been consolidated into the overall effort for improving/automating API/CLI documentation in #393.

[2019-12-17 00:27] #340 closed

[2019-12-17 00:31] jessicaschilling commented on #225
Closing, since this issue has been consolidated into the overall effort for improving/automating API/CLI documentation in #393. Comments have been migrated there!

[2019-12-17 00:31] #225 closed

[2019-12-17 00:33] jessicaschilling commented on #339
Closing, since this issue has been consolidated into the overall effort for improving/automating API/CLI documentation in #393. Comments have been migrated there!

[2019-12-17 00:33] #339 closed

[2019-12-17 00:36] jessicaschilling commented on #227
Closing, since this issue has been consolidated into the overall effort for improving/automating API/CLI documentation in #393. Comments have been migrated there!

[2019-12-17 00:36] #227 closed

[2019-12-17 00:42] jessicaschilling commented on #69
Closing, since this issue has been consolidated into the overall effort for improving/automating API/CLI documentation in #393. Comments have been migrated there!

[2019-12-17 00:42] #69 closed

[2019-12-17 17:19] jessicaschilling commented on #93
Update: @olizilla may have some material he wrote to onboard folks that could be used as initial source material!

[2019-12-17 17:41] lidel commented on #93
There is a short section on HTTP Gateways I wrote at https://docs.ipfs.io/guides/guides/addressing/#http-gateways which could be reused/expanded into a dedicated article about Gateways.

I believe it is important to recognize three types of HTTP gateways:

- DNSLink gateway
  (when domain DNS A record points at IP with go-ipfs and DNS TXT record points at IPFS content path)
- Path gateway (`ipfs.i

[2019-12-17 17:46] mitar opened #410 "[CONTENT IMPROVEMENT] Explain how much disk space will my initial installation take"
Around there where you suggest running daemon, I would appreciate some comment if this would take a lot of disk space or not. As a IPFS beginner, I would suspect that it would start syncing data from others to my computer. Probably it does not do so, but then a statement of encouragement would be cool as well. (Like, no files will be downloaded until you ask for them.)

[2019-12-17 18:48] olizilla commented on #93
see also local gateway (localhost:8080) vs public/shared gateway (example.org) vs the canonical public gateway (ipfs.io)

[2019-12-17 20:16] jessicaschilling commented on #311
Wrapped up the Data Studio dashboard in a good-for-MVP way; had to hedge a bit around approximating some of the metrics @johnnymatthews asked for, but this’ll give us a lot of good insight for a while. We can always refine later on. :blush: Calling the issue done … https://datastudio.google.com/u/0/reporting/1IfRhGSN06uVIHfjIG2Pn1n8s54yx35Kq

[2019-12-17 20:16] #311 closed

[2019-12-17 20:19] #286 closed

[2019-12-17 20:21] jessicaschilling commented on #392
@johnnymatthews -- per our meeting today, can you please make sure that consideration of personae and a link to our [persona guide](https://app.mural.co/t/protocollabs6957/m/protocollabs6957/1564779785852/cf7669f3c1773508a811a3fa0eadfb99efb310bf) be included in your materials? Thanks!

[2019-12-17 23:18] hugomrdias commented on #271
Just one note it works now :)
https://github.com/ipfs/ipfs-docs-v2/pull/46

[2019-12-17 23:21] jessicaschilling commented on #271
!!!!!!!

[2019-12-18 20:13] jessicaschilling commented on #343
Closed via https://github.com/ipfs/ipfs-docs-v2/pull/47 !

[2019-12-18 20:13] #343 closed

[2019-12-19 17:55] EricLScace commented on #93
I'll tackle this one…

[2019-12-19 21:24] bertrandfalguiere commented on #93
The bounty list from the first post is this thread is not accessible :/

[2019-12-19 22:00] jessicaschilling commented on #93
@bertrandfalguiere - can you view this? https://github.com/ipfs/devgrants/projects/1#column-7126098

[2019-12-20 14:45] cwaring opened #412 "migrate VuePress IPFS support to a plugin"
Holding issue to migrate the IPFS support included in ipfs/ipfs-docs-v2/pull/46 to https://github.com/cwaring/vuepress-plugin-ipfs so this will allow IPFS support for other VuePress apps.

[2019-12-21 09:25] hsanjuan opened #413 "[DOCS ISSUE] Page: Configuring Your Node"
**URL of the page in question:** https://docs.ipfs.io/guides/examples/config/

**What's wrong with this page?**

Should link to https://github.com/ipfs/go-ipfs/blob/master/docs/config.md and https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md (for go-ipfs).

In general needs revisiting to make a more in-depth review of current configuration options.

[2019-12-21 09:26] hsanjuan commented on #93
Also, important to incorporate documentation on writable gateways which is here: https://discuss.ipfs.io/t/writeable-http-gateways/210

[2019-12-21 23:13] lidel opened #414 "[CONTENT MIGRATION] Cool links don't break"
_(apologies if this was already discussed, but don't want us to miss this)_

### Motivation

Various blog posts, docs, tutorials, posts on forums and StackOverflow link to our docs. There is a big value in that. Those HTTP links should continue to work and deliver user (and crawlers) to related content in docs-v2 where possible.

### Implementation

This is specific to `http://` transport on regul

[2019-12-21 23:17] jessicaschilling commented on #414
@lidel - Yep, this is all covered in the deprecation plan here: https://hackmd.io/-JU3CcXgSgmcXWszyku2PA

Feel free to add to that document if you see anything missing.

We do have metrics in the legacy site, and will be using those to prioritize redirects and if possible reaching out to common referrers. Thanks!

[2019-12-21 23:17] #414 closed

[2019-12-22 13:46] lidel commented on #414
Fantastic! Added some comments / references there.

[2019-12-23 18:36] johnnymatthews commented on #413
I've partially addressed this issue with in 7afd7f067cbaa3504da8d010b4a9b25d1aa5e793. I'm hesitant to include a link to experimental features directly into this page right now. It makes sense to let reader know these features exist, but this might not be the right place.

There's going to be a huge push in Q0 2020 to change, reformat, and generally update a lot of IPFS content. So this page will g

[2019-12-23 20:03] jessicaschilling commented on #413
@johnnymatthews Thanks for jumping on this! Can you please duplicate those edits in the beta site too? It’s a pain but only a temporary one 😊

[2019-12-23 20:40] johnnymatthews commented on #413
Will do! Thanks for the reminder.

[2019-12-23 20:50] johnnymatthews commented on #413
Had to [make a PR](https://github.com/ipfs/ipfs-docs-v2/pull/51) because I don't have write access to that repo:

[2019-12-24 02:59] #413 closed

[2020-01-06 16:54] cwaring commented on #271
ipfs/ipfs-docs-v2/pull/46 is merged to master, pending DNS changes this is now complete 🚀

[2020-01-06 16:54] #271 closed

[2020-01-06 20:50] jessicaschilling commented on #284
[Beta site](https://docs-beta.ipfs.io) will be launched 8 Jan 2020 ... closing this issue.

[2020-01-06 20:50] #284 closed

[2020-01-07 01:44] edgo914 commented on #56
I will begin work on this, Assign me!

[2020-01-07 13:47] olizilla opened #418 "Scroll position not always reset to top of page when changing section"
To recreate:
- in Firefox 71 (Chrome does seem to reset the scroll position)
- go to: https://docs-beta.ipfs.io
- scroll to bottom
- click on **Concepts** in the sidebar nav
- I see the page still scrolled to the bottom, so I see _Still don't see what your looking for_ rather than the concepts intro which is scolled out of view above.

<img width="1392" alt="Screenshot 2020-01-07 at 13 42 06" src=

[2020-01-07 16:52] vasa-develop commented on #388
@jesseclay

The link to the placeholder link seems to be broken.

I didn't get this. Can you elaborate a bit on this point?

[2020-01-07 16:57] cwaring opened #417 "Scroll position not always reset to top of page when changing section"
@olizilla commented on [Tue Jan 07 2020](https://github.com/ipfs/ipfs-docs-v2/issues/56)

To recreate:
- in Firefox 71 (Chrome does seem to reset the scroll position)
- go to: https://docs-beta.ipfs.io
- scroll to bottom
- click on **Concepts** in the sidebar nav
- I see the page still scrolled to the bottom, so I see _Still don't see what your looking for_ rather than the concepts intro which is

[2020-01-07 16:58] jessicaschilling commented on #388
@vasa-develop - thanks for catching that broken link, it should be https://github.com/ipfs/ipfs-docs-v2/blob/master/docs/concepts/libp2p.md

As for the second bit: This really means just to remember that a variety of levels of expertise will be reading this piece of documentation. Some folks just want to know what libp2p is at the most basic level; others want to know how it might be useful to the

[2020-01-07 17:03] terichadbourne opened #419 "Enhancement: Give user feedback when there are no search results"
**THIS FEEDBACK APPLIES TO THE BETA SITE ONLY:**

When using a search feature, I'm accustomed to hitting return to tell the search gods that I'm done typing. The search feature on the new site seems to auto-load a list of options as you type, so two potential issues here:

- If I type something that exists as a search result and hit return, it goes to whatever was highlighted, not a list of option

[2020-01-07 17:04] vasa-develop commented on #387
Seems like this link is broken.

I think I can pick this one up.

[2020-01-07 17:05] cwaring commented on #418
This appears to be an issue with how FireFox handles the smooth scrolling. I'll add a hook locally and then patch upstream

[2020-01-07 18:07] #418 closed

[2020-01-07 19:25] jessicaschilling commented on #351
Launch complete and all artifacts shared. I have space allocated in my calendar for the next two weeks for monitoring all the channels above, and will comment on this issue if anything relevant needs capturing -- but will close the issue in the interim.

[2020-01-07 19:25] #351 closed

[2020-01-07 19:29] jessicaschilling commented on #387
@vasa-develop -- just fixed the link above, but its: https://github.com/ipfs/ipfs-docs-v2/blob/master/docs/concepts/usage-ideas-examples.md

[2020-01-07 20:17] momack2 opened #420 "[DOCS ISSUE] sidebar menu item click-ed state behavior confusing"
I notice the first time I click on a sidebar title (ex "concept") it expands a list of sub menu items - however if I click away to "install" that submenu stays open and navigating back to "concept" actually *collapses* the submenu view. This is confusing behavior (would expect clicking away to install would also un-expand the sub menu by default, and re-clicking would re-expand) without some sort

[2020-01-07 20:27] bertrandfalguiere commented on #388
If @vasa-develop doesn't take this on, I can do it.

[2020-01-07 21:10] jessicaschilling commented on #388
@bertrandfalguiere -- any other open issues for new content that catch your fancy? You can see them all here: https://github.com/ipfs/docs/labels/Category%3A%20Content

[2020-01-07 22:05] jessicaschilling commented on #420
@cwaring, we'd discussed this in the past. Can you please investigate? Thank you!

[2020-01-07 22:09] jessicaschilling commented on #419
@cwaring - how difficult would this be to implement?

[2020-01-08 03:57] johnnymatthews commented on #418
Looks like it's fixed on my end! Nice one @cwaring.

[2020-01-08 05:41] vasa-develop commented on #387
@jessicaschilling who should I contact you to get feedback on my drafts of this task?

[2020-01-08 05:42] jessicaschilling commented on #387
@vasa-develop That’d be @johnnymatthews 😊

[2020-01-08 15:32] cwaring commented on #420
Agree to keep this on the todo list! This is mostly a problem because "Install IPFS" is currently not a group section like the other menu items, there are plans to change this in an upcoming content re-org so this may become a "Getting Started" section containing "Install IPFS", which would then make the navigation behave consistently.

Additionally I could apply a patch to disable the ability to

[2020-01-08 17:02] jessicaschilling commented on #420
We *could* separate out the https://docs-beta.ipfs.io/install/  page into three separate pages in the interim, which is a little bit of overkill considering they don't each have a ton of content on them, but it would effectively fix the expand/collapse issue. I'd suggest leaving that top-level install page as it is, but blow out each of its sub-sections (dip your toes, host/share files on your own

[2020-01-09 10:25] bertrandfalguiere commented on #388
I have a good understanding of the concepts and how things work together but haven't dug into the code. So the only issues I can work on are this one, the [Glossary](https://github.com/ipfs/docs/issues/56) and the usage [examples](https://github.com/ipfs/docs/issues/387).
I wish to work on any of them.

[2020-01-09 15:33] johnnymatthews commented on #348
Can we mark this first point for this issue as complete?

[2020-01-09 15:48] jessicaschilling commented on #348
@johnnymatthews Sadly, nope: https://github.com/ipfs/go-ipfs/tree/master/docs

[2020-01-09 16:30] jessicaschilling commented on #419
We discussed this in a sync meeting today and are proposing deferring this issue in favor of #336, since that kills more birds with one stone. Closing this issue - thank you!

[2020-01-09 16:30] #419 closed

[2020-01-09 18:06] jessicaschilling commented on #388
@bertrandfalguiere -- This is a bit off-topic, but might you be interested in this issue? https://github.com/ipfs/website/issues/352
(cc @johnnymatthews)

[2020-01-09 18:19] johnnymatthews commented on #420
**Install IPFS** is going to end up in a section called **Getting Started**, so it'll act exactly the same as the other _group sections_. Here's the revamped docs map as a refresher (will change over time).

![Map Revamp](https://user-images.githubusercontent.com/9611008/72093496-7844e480-32e2-11ea-800c-dd5ebd465762.png)

[2020-01-09 18:22] jessicaschilling commented on #420
Good point -- and Getting Started content is a high-ish priority, correct? Closing this issue to keep things tidy. Thanks!

[2020-01-09 18:22] #420 closed

[2020-01-09 19:05] ericronne commented on #420
@johnnymatthews before implementing, if we haven't already done so, it'd be wise to test the new structure with users to confirm that they can find what they need, that categories and labels make sense :bowtie:

you can use workflowy for lightweight IA tests on docs (even though that's not what it's designed to do), like we've done previously for the beta site …
https://workflowy.com/s/ipfs-docs-e

[2020-01-10 00:04] johnnymatthews commented on #420
So I _did_ build the site with the new sidebar mapping, but I foolishly cloned over it during the Christmas break. I'll throw it all together again over the weekend for testing again.

[2020-01-10 00:06] jessicaschilling commented on #420
And we've already got a bunch of users you can test with from the [beta testing Google form](https://docs.google.com/forms/d/1LVaD1B2uyW6Ff0jfU_iQ5mCeyQcHfyQO6BDD99XAgK0/edit) 😊

[2020-01-10 13:00] cwaring commented on #336
I've applied to have the beta site indexed by Algolia and will update this once we've been accepted.

![CleanShot 2020-01-10 at 12 55 09](https://user-images.githubusercontent.com/106938/72154564-e9e76600-33a8-11ea-9664-6e3e8cd4c350.png)

[2020-01-13 15:05] johnnymatthews commented on #420
Didn't get a chance this weekend to build the side-nav, mainly due to the NFL playoffs. I've got a 2 hour train journey this evening though, so I'll be able to get it done then.

[2020-01-16 20:10] olizilla commented on #93
Here is the condensed version of the onboarding doc for the gateways for the IPFS Infra team

https://gist.github.com/olizilla/81cee26ffa3ae103e4766d2ae0d2f04b

[2020-01-18 20:44] johnnymatthews commented on #93
How's your progress going @EricLScace? Anything I can help out with?

[2020-01-20 15:54] EricLScace commented on #93
See branch https://github.com/EricLScace/ipfs-docs-v2/tree/issue%2393 for WIP. Just getting rolling at this point and have material yet to integrate over the next days. I'll be in touch if I get stumped and cannot get help.

[2020-01-20 18:31] jessicaschilling commented on #56
Looks like this issue can be (or is close to being able to be) closed under https://github.com/ipfs/ipfs-docs-v2/pull/70 ... @johnnymatthews, can you please wrap things up with @edgo914 vis-a-vis bounty reward? Thanks!

[2020-01-20 18:35] #379 closed

[2020-01-20 18:35] #380 closed

[2020-01-20 18:36] #381 closed

[2020-01-20 18:38] #382 closed

[2020-01-21 14:10] andrew opened #425 "[Beta bug] Left-hand submenu doesn't expand when visiting a top level section directly"
When directly visiting a top level section (like [Community](https://docs-beta.ipfs.io/community/)) on the new docs beta (i.e. clicking from offsite or pasting https://docs-beta.ipfs.io/community/ directly into your address bar), the left hand menu doesn't expand for the highlighted section:

![Screenshot 2020-01-21 at 14 07 29](https://user-images.githubusercontent.com/1060/72811355-63a80b00-3c57

[2020-01-21 17:23] cwaring commented on #425
Good catch, I'll try to patch this up in the next round of menu refactors!

[2020-01-21 17:27] jessicaschilling commented on #425
Also for context, see https://github.com/ipfs/docs/issues/389 -- we'll be making future changes to the nav overall that, while they don't address what you've brought up in this issue, do speak to overall nav evolution. Ideally we'd get this submenu concern addressed either before, or in parallel, with the work that closes #389.

[2020-01-21 21:24] johnnymatthews opened #426 "[DOCS ISSUE] (Simplify introduction paragraph to IPFS)"
**URL of the page in question:**
https://docs-beta.ipfs.io/concepts/what-is-ipfs/

**What's wrong with this page?**
The following paragraph is fairly convoluted and contains formatting errors that don't fit with this projects contribution guidelines:

**What would you like to have changed/amended/fixed in order to make things right?**
Simplify the paragraph so that it's easier to read. Also, remov

[2020-01-21 21:26] alex-example commented on #426
I'll take this one.

[2020-01-21 23:42] edgo914 commented on #85
I'm interested, assign me for this one!

[2020-01-22 15:14] johnnymatthews commented on #85
It's all yours @edgo914!

[2020-01-22 16:27] johnnymatthews commented on #93
Great stuff, I'm glad you've got enough to get moving. Yeah post in here if you need a hand.

[2020-01-22 18:12] johnnymatthews commented on #56
Yeahp, the content is all good to go! I'm going to wait until the payment has been sent before closing bounty issues.

[2020-01-22 18:27] johnnymatthews commented on #387
Hi @vasa-develop, sorry I've just gotten around to this. The best way to post your drafts is to create a fork of `ipfs/ipfs-docs-v2` and share that fork here. Then I'll be able to add comments directly in your fork. Once everything's good to go, you can make a PR into `ipfs/ipfs-docs-v2` and we can get things merged.

[2020-01-22 22:52] #426 closed

[2020-01-23 05:40] RubenKelevra opened #428 "Single-page static site."
**What's the content of the item you're requesting?**
I've stumbled over this blog post[1] which describes how to setup a static webpage with the Cloudflare IPFS gateway as CDN.

It's a pretty well written user story, which could be a good source for a small how-to.

**What will the user know how to do after going through this item?**
Setup of websites with IPFS

**Would you be interested in helpi

[2020-01-23 15:51] johnnymatthews commented on #428
That's a cool post! We already have a tutorial on [hosting a single-page site on IPFS](https://docs-beta.ipfs.io/how-to/host-single-page-site/), but the last _real_ update it got was about six months ago. Normally six months isn't a massive amount of time, but in IPFS and Protocol Labs terms it's massive. With that in mind, I'd be happy to integrate the blog post you linked to and the existing tut

[2020-01-23 17:02] jessicaschilling commented on #428
This just came across the news feed: https://medium.com/@kirpy/make-an-immortal-website-using-ethereum-name-service-and-ipfs-simple-939e66c893df
It's extremely high-level, but you might want to think about adding it as another link in the "tip" box at the top of https://docs-beta.ipfs.io/how-to/host-single-page-site/#create-your-site ?

[2020-01-23 17:15] jessicaschilling commented on #428
I've made PR https://github.com/ipfs/ipfs-docs-v2/pull/73 to add that Medium link. It doesn't entirely address this issue, but does provide a clear, simple, up-to-date tutorial for readers. @johnnymatthews, can you please look and merge if you're OK with this approach?

[2020-01-23 17:17] johnnymatthews opened #429 "[BUG]: Firefox doesn't jump to #links"
Firefox 72.0.2 (64-bit) doesn't jump to `#links` in the [beta docs site](https://docs-beta.ipfs.io/concepts/glossary). The gif below explains the issue a bit better. The first browser is Firefox, and the second is Brave 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit).

![firefox-scroll-bug](https://user-images.githubusercontent.com/9611008/73007100-dccf6b80-3dd9-11ea-9a4c-d55f3555f8d0.gif

[2020-01-23 17:25] bertrandfalguiere commented on #429
Confirmed on my Firefox 72.0.2 (64-bit).... but it's working if I click twice on the same letter (no necessarily a double-click).

[2020-01-23 17:27] bertrandfalguiere commented on #429
In fact, it's working if you click on a letter, and then on another letter (goes to this second letter).

[2020-01-23 18:08] johnnymatthews commented on #429
Yeah you're right @bertrandfalguiere, clicking on a letter _twice_ seems to work.

[2020-01-23 18:19] cwaring commented on #429
Yes, this appears to be another issue with how Firefox interacts with [`vuepress-plugin-smooth-scroll`](https://github.com/vuepress/vuepress-plugin-smooth-scroll) in the default theme. I have an idea of how to implement this differently so let's label it as a 🐞 and I'll experiment soon.

[2020-01-23 18:23] johnnymatthews opened #430 "[FEATURE REQUEST] Top-level H1 header is sourced from front-matter."
It'd be helpful if the top-lever headers on each page were sourced from the front-matter of the markdown document, instead of the `#` header at the start of the markdown content.

<img width="1440" alt="Screen Shot 2020-01-23 at 1 15 34 PM" src="https://user-images.githubusercontent.com/9611008/73011825-0b9e0f80-3de3-11ea-8f5e-15a43cc5f91c.png">

This feature would enable writers to format their m

[2020-01-23 18:44] johnnymatthews commented on #392
This issue is being addressed in the [`docs-contribution-section` branch](https://github.com/ipfs/ipfs-docs-v2/tree/docs-contribution-section) of the [`ipfs/ipfs-docs-v2` repo](https://github.com/ipfs/ipfs-docs-v2).

[2020-01-23 19:30] cwaring commented on #430
Hold on to your 🎩because here comes a sweet hack:

[code]

Use the `$page.___` to get access to any of the front matter variables inside the markdown. You're welcome 🧙‍♂️

[2020-01-23 19:33] cwaring commented on #430
Also remember `[[ toc ]]` instead of printing a fixed ToC into the document.

[2020-01-23 19:39] cwaring commented on #430
I should not that is sometimes useful to have these explicitly separate for reasons of SEO, so try to consider that before applying this everywhere.

[2020-01-23 19:45] cwaring commented on #430
BTW the alternative is true so that you CAN exclude the front matter `title` key PROVIDED that there is an initial # H1`, then that key will be used as the `title` instead. It is required for one of these to be present which is why I tend to favour being verbose by having both committed to any page.

[2020-01-24 14:52] cwaring commented on #412
Work on this is happening in this repo: https://github.com/cwaring/vuepress-plugin-ipfs

[2020-01-24 14:53] cwaring commented on #412
Work has started in this repo: https://github.com/cwaring/vuepress-plugin-ipfs

[2020-01-24 18:39] #336 closed

[2020-01-24 19:15] #429 closed

[2020-01-24 19:27] bertrandfalguiere commented on #429
I get both smooth scroll and one-click jump on FF Android (Jumps didn't work on mobile either). I haven't re‐tested the desktop.

[2020-01-25 21:24] johnnymatthews commented on #430
I'm not a massive fan of this hack. GitHub won't know what's going on here. It'd be better to keep things consistent across the board. If it displays on docs.ipfs.io, it should look the same way in GitHub.

Yeah, sorry that was just an artifact of editing a bunch of stuff in one go, and Markdown All In One automatically throwing a ToC in there. Silly extensions.

This might be the best of both wor

[2020-01-25 21:26] johnnymatthews commented on #429
Looks like you've fixed it @cwaring! Works on my end. There's no smooth-scrolling, but I can live without that to be honest.

[2020-01-27 10:57] cwaring commented on #430
If we exclude the `title` key we have to be super diligent with content changes because if a page is later updated and the initial H1 is removed then all the SEO data will be stripped due to the missing title. Hopefully this helps you understand the small compromise of using it in both places for clarity and redundancy.

[2020-01-27 11:02] cwaring commented on #430
Markdown currently gets passed through [Prettier](https://prettier.io/blog/2017/11/07/1.8.0.html) for auto formatting upon commit but we could also add a set of linter rules to ensure a certain style is abided by.

[2020-01-27 15:47] johnnymatthews commented on #430
Fair enough, I don't want to break SEO all over the place. What we can do for now then it just ignore the `h1` rule from Markdown Lint.

Didn't know we were using that Prettier thing. Do you know where that config's set up? Straight off the bat I want to take the [word-wrapping](https://prettier.io/docs/en/options.html#prose-wrap) out.

[2020-01-27 16:20] jessicaschilling commented on #430
Off-topic but does Prettier lint out strings for other strings? Cough cough "IFPS" -> "IPFS" cough.

[2020-01-27 17:30] Stebalien opened #432 "[FEATURE REQUEST] Offline Search"
The new Agolia search is awesome and really snappy. However, one of the key benefits of serving a website over IPFS is that it can work offline (I've actually used this to download our websites/tools for conferences when I don't trust the local network to work). It would be really awesome if we could find a way to do this offline.

This issue is hardly critical given that the new docs site already

[2020-01-27 18:32] johnnymatthews commented on #430
I've created a `.markdownlint.json` file within the project's root. When the Markdown Lint extension is installed, the [MD025 Multiple top level headers in the same document](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md025---multiple-top-level-headers-in-the-same-document) will be ignored. This file is just in the [`docs-contribution-section` branch](https://github.com

[2020-01-27 18:42] cwaring commented on #430
Prettier doesn't catch errors it is primarily responsible for code formatting. If want to add markdown linting then we should do it via the commit hooks otherwise it won't be caught before the CI/PR stage. Something to investigate more soon.

[2020-01-29 00:40] edgo914 commented on #85
Sent PR

On Wed, Jan 22, 2020 at 8:14 AM Johnny <notifications@github.com> wrote:

[2020-01-29 18:32] jessicaschilling commented on #85
See https://github.com/ipfs/ipfs-docs-v2/pull/78 for PR.

[2020-01-30 02:16] parkan commented on #56
nice work @edgo914! we'll process your reward shortly

[2020-01-30 10:07] hsanjuan opened #434 "[CONTENT REQUEST] Document downgrade procedure"
**What's the subject of the item you're requesting?**

How can users safely downgrade go-ipfs (including reverting migrations)

**What's the content of the item you're requesting?**

Port and update https://github.com/ipfs/fs-repo-migrations/pull/10

**What will the user know how to do after going through this item?**

Downgrading and reverting repo migrations

**Would you be interested in helping

[2020-01-30 17:49] johnnymatthews commented on #434
Thanks for bringing this up @hsanjuan. Does JS-IPFS have a downgrade procedure also?

[2020-01-30 18:24] jessicaschilling commented on #434
Quick note: the most immediate place to put this might be alongside the instructions for *upgrading* IPFS, which currently live in the command line quick-start guide:
https://docs-beta.ipfs.io/how-to/command-line-quick-start/#install-ipfs

That guide is starting to get a little lengthy and multi-faceted, so a rework is probably in order anyway, but that's the most obvious location for addressing t

[2020-01-30 18:26] jessicaschilling commented on #387
@vasa-develop -- what's the status on this? Would like to open up this bounty issue to other contributors if you're no longer interested. Thank you!

[2020-01-30 19:14] hsanjuan commented on #434
No idea. @achingbrain?

[2020-01-30 21:43] bertrandfalguiere commented on #387
I can take this on if @vasa-develop has no time available for the time being.

[2020-01-30 23:59] parkan commented on #56
@edgo914 could you please open a [Bounty Claim] issue in [the grants repo](https://github.com/ipfs/devgrants/issues/new/choose) so we can track your payment? (the issue template will also instruct you to send your payment info via email)

@johnnymatthews please close this issue -- we'll use that as confirmation of successful completion for sending the reward

[2020-01-31 00:50] jessicaschilling commented on #56
@parkan -- I'll close this issue on Johnny's behalf as he's away/sporadic for the next few weeks.

cc @edgo914 @johnnymatthews

[2020-01-31 00:50] #56 closed

[2020-01-31 17:12] edgo914 commented on #56
Away for a few days, will get to this on Monday

On Thu, Jan 30, 2020, 15:59 Arkadiy Kukarkin <notifications@github.com>
wrote:

[2020-02-03 16:06] jessicaschilling commented on #387
@vasa-develop -- please let us know by Wednesday 5 Feb if you're available to work this. If not or we don't hear from you, we'll re-assign to @bertrandfalguiere so he can get to work. Thanks both!

[2020-02-03 16:07] jessicaschilling commented on #93
@EricLScace -- what can we do to help unblock this? Do you have an ETA for materials for review?

[2020-02-03 16:19] jessicaschilling commented on #432
@cwaring -- we'd discussed various fallback methodology for search if offline. What are your current thoughts on this?

[2020-02-06 00:42] jessicaschilling commented on #387
Un-assigning @vasa-develop in absence of his confirmation he's still available to work on this issue. @bertrandfalguiere, assigning if you if you'd still like to work on this. Please confirm.

[2020-02-06 06:39] bertrandfalguiere commented on #387
I'm on it. Thanks for the assignation.

[2020-02-10 16:04] jessicaschilling commented on #93
@EricLScace -- update? If we don't hear from you by Wednesday 12 Feb, we'll open this up to other contributors instead. Thank you!

[2020-02-11 13:58] cwaring opened #435 "[docs-beta]: disable smooth-scroll on long pages"
As noted by @aschmahmann, long pages on the docs-beta can provide a jarring UX with smooth-scroll enabled due to flickering elements during the animation.

https://docs-beta.ipfs.io/reference/cli/#ipfs-files-write)

The plan is to replace these sections with a richer navigation in the future but for the time being we should patch the app to deactivate smooth-scrolling in these circumstances.

[2020-02-11 20:33] jessicaschilling commented on #388
@edgo914 - looks like you’ve claimed this. Assigning.

[2020-02-11 21:03] edgo914 commented on #388
@jessicaschilling thanks, I'm on it

[2020-02-12 04:31] EricLScace commented on #93
Sorry, I’m just wrapping up another project on Feb 12. I’ll be back on this immediately thereafter.

[2020-02-12 12:02] #435 closed

[2020-02-13 14:50] vasa-develop commented on #387
Hey!
Sorry for not updating the progress here.
Somehow, I didn't get notifications.
@bertrandfalguiere I can send you the material that I worked on. Maybe you can use that.

[2020-02-13 16:34] johnnymatthews commented on #434
A better place for it might be under **Customize your install**. I can't imagine downgrading is going to be a common thing users are going to do, so having it in the _quickstart_ might not work. I see the point of a _quickstart_ to be as short and to-the-point as possible, spoon-feeding the user precisely what they need to know so they can start playing around with stuff.

[2020-02-13 16:37] jessicaschilling commented on #434
Or in some sort of (not yet extant) general troubleshooting guidance? Assuming the only time someone’s going to downgrade is because not-fun things are happening.

The mockup works too, but I’d add “your” after “IPFS” if there’s space, for consistency with other left-nav titles.

[2020-02-13 16:50] johnnymatthews commented on #434
That's a better idea. It'll help to keep the sidebar clearer too.

We'd just have to plan out what would go into the Troubleshooting. Off the top of my head I can think of stuff like installation issues, downgrading, network connectivity, necessary admin/user privileges, how to report an issue. There's likely a bunch more.

[2020-02-13 16:50] jessicaschilling commented on #434
Check the forums. That’ll give you the top 10, easily.

[2020-02-13 16:57] bertrandfalguiere commented on #387
@vasa-develop Yes, why not, that's kind :)

[2020-02-13 20:00] johnnymatthews opened #437 "Troubleshooting steps for IPFS projects"
**What's the subject of the item you're requesting?**
Troubleshooting IPFS.

**What's the content of the item you're requesting?**
Common pitfalls and issues users run into when interacting with IPFS projects such as the IPFS Desktop and IPFS Daemon.

Before this page goes live, we should have steps to solve the following problems as a minimum:

1. [Downgrading go-ipfs](https://github.com/ipfs/doc

[2020-02-13 20:03] johnnymatthews commented on #434
I've created an issue to address creating a troubleshooting section: #437. This issue can now remain a place for discussion around the downgrade procedure for go-ipfs.

[2020-02-15 21:52] johnnymatthews opened #438 "Automate spelling and grammar checking."
As [discussed in a PR](https://github.com/ipfs/ipfs-docs-v2/pull/113#discussion_r379852910), it'd be great to have an automated workflow for checking spelling and grammar within markdown files in this repo. The contribution guidelines currently suggest running any markdown/copy [through Grammarly](https://docs-beta.ipfs.io/community/contribute/grammar-formatting-and-style/#grammar-and-spelling) to

[2020-02-19 20:02] johnnymatthews commented on #398
This issue is being addressed in [`ipfs/ipfs-docs-v2:refactor-homepage`](https://github.com/ipfs/ipfs-docs-v2/tree/refactor-homepage).

[2020-02-23 10:52] Tsent opened #439 "[DOCS ISSUE] Page: Mutable File System (MFS)"
Did you find a bug, typo or other issue in an item of IPFS documentation? Please use this template to let us know!

**URL of the page in question:**
_e.g. https://docs.ipfs.io/introduction/usage/_

**What's wrong with this page?**
_Please be as specific as possible. If relevant, screenshots are helpful!_

**What would you like to have changed/amended/fixed in order to make things right?**
_Again,

[2020-02-23 14:53] jessicaschilling commented on #439
Hi @Tsent - closing this issue since there aren’t any details provided, but feel free to add details and re-open.

[2020-02-23 14:53] #439 closed

[2020-02-24 16:55] jessicaschilling commented on #312
Closing this issue, since we're getting valuable insight from our current dashboard: https://datastudio.google.com/u/0/reporting/1IfRhGSN06uVIHfjIG2Pn1n8s54yx35Kq/page/vUM8
We may want to re-open in time if new metrics needs emerge.

[2020-02-24 16:55] #312 closed

[2020-02-24 16:58] jessicaschilling commented on #90
@johnnymatthews What say you to putting a bounty on this one?

[2020-02-24 16:58] jessicaschilling commented on #89
@johnnymatthews This is another one I'd be game to put a bounty on. Your thoughts?

[2020-02-24 17:20] jessicaschilling commented on #398
Closed by https://github.com/ipfs/ipfs-docs-v2/pull/116.

[2020-02-24 17:20] #398 closed

[2020-02-24 18:55] jessicaschilling commented on #89
Bounty added! This one is up for grabs. Please comment if you'd like to take it on! The reward is USD $500.

[2020-02-24 18:55] jessicaschilling commented on #90
Bounty added! This one is up for grabs. Please comment if you'd like to take it on! The reward is USD $500.

[2020-02-26 16:54] ulvus commented on #89
Hi
I think difficulty shall be changed from easy, to professionel.
MFS, UFS and material about i, arent easy, either to understand, find, learn or doing docs on.
And dont think 1 person can do it alone, when its so much part of files, api, and really need a maintainer or developer, or insider of ipfs and/or filesystems
kristian

[2020-02-26 17:04] ulvus commented on #89
and of course  one or more person to make the docs and update them throught future filesystem/ipfs progress

[2020-02-27 01:34] johnnymatthews commented on #89
You might be right there @ulvus. I'll get an IPFS FS expert in here to weigh in on what we'd need here since it's been a while since this issue was created.

[2020-02-27 11:43] hsanjuan opened #442 "[CONTENT REQUEST] Migration of the IPFS repository to a different computer"
**What's the subject of the item you're requesting?**

How to migrate the IPFS repository to a different computer

**What's the content of the item you're requesting?**

Instructions on how to move the ipfs repository to a different computer.

**What will the user know how to do after going through this item?**

How to migrate. I don't know if we should have a canonical way (copy the folder), or a

[2020-02-27 15:18] jessicaschilling commented on #442
@hsanjuan Do you have an example of this being answered in the forums that would make good source material for someone to produce this material?

[2020-02-27 15:21] johnnymatthews commented on #442
Judging from [the issue it's coming from](https://github.com/ipfs/go-ipfs/issues/3696), it looks like this is something new that's cropped up. I had a quick look and couldn't see anything in the forums. We'll likely need @hsanjuan or someone from `ipfs/go-ipfs` to walk us through the process.

[2020-02-27 15:23] jessicaschilling commented on #442
@johnnymatthews -- I was the one who marked it as high-priority, because of @hsanjuan's statement about appearing in the forums again and again, but if that's not entirely the case, you may want to deprioritize.

[2020-02-27 15:29] johnnymatthews commented on #442
Ah right you are! Not had tea this morning...

[2020-02-27 15:36] jessicaschilling commented on #442
These may help:
https://github.com/ipfs/fs-repo-migrations
https://github.com/ipfs/js-ipfs-repo-migrations

[2020-02-27 15:37] hsanjuan commented on #442
the most recent https://discuss.ipfs.io/t/ipfs-node-data-migration/7208

Will have to make a list of possible options:

* full migration with identity and config: copy  the folder
* full migration of content only: copy the folder, reinitialize the config (there might be pitfalls here)
* full migration of content only over ipfs: ipfs refs local method + ipfs block get
* migration of pinned items on

[2020-02-27 15:48] johnnymatthews commented on #442
Seems fairly simple, for the first two at least. I'm assuming it's cross-platform as well, right? An `.ipfs` folder from a Windows machine will work fine when copied over to a Unix machine?

[2020-02-27 16:26] johnnymatthews commented on #442
Working branch here: [`ipfs/copy-ipfs-to-computer`](https://github.com/ipfs/ipfs-docs-v2/tree/copy-ipfs-to-computer).

[2020-02-27 17:50] hsanjuan commented on #442
Probably, but there might be some edge cases. @Stebalien can you say?

[2020-03-02 14:07] johnnymatthews commented on #387
Hi @bertrandfalguiere, how's things going with this? If you need any extra support, let us know here!

[2020-03-02 21:51] johnnymatthews commented on #85
Closed through [PR 122](https://github.com/ipfs/ipfs-docs-v2/pull/122).

[2020-03-02 21:51] #85 closed

[2020-03-02 21:52] johnnymatthews commented on #388
Closed through [PR 122](https://github.com/ipfs/ipfs-docs-v2/pull/122).

[2020-03-02 21:52] #388 closed

[2020-03-02 23:47] autonome opened #444 "[CONTENT REQUEST] Explain why IPFS needs relative URLs in web content"
**What's the subject of the item you're requesting?**
I don't want to solutionize the title. Should be about relative vs absolute urls.

Example of where it's a problem for web developers trying IPFS: https://macwright.org/2019/06/08/ipfs-again.html

**What's the content of the item you're requesting?**

1. the difference between absolute and relative urls
2. how absolute urls break and/or pop you

[2020-03-04 00:51] Stebalien commented on #442
Yes. An IPFS folder _should_ port across platforms fine (untested).

[2020-03-04 20:39] johnnymatthews commented on #442
I've tested:

1. MacOS Catalina -> Windows 10
1. Windows 10 -> Windows Subsystem for Linux
1. Windows Subsystem for Linux ->
1. Ubuntu -> MacOS

Figured that was enough.

[2020-03-04 20:57] terichadbourne opened #446 "[DOCS ISSUE] Add link to Anatomy of a CID tutorial on ProtoSchool"
We can now add a link from https://docs-beta.ipfs.io/concepts/content-addressing/#identifier-formats (or any other spots you recommend) to the new ProtoSchool tutorial Anatomy of a CID: https://proto.school/#/anatomy-of-a-cid

[2020-03-04 21:00] ribasushi commented on #442
@Stebalien what about case-insensitive FSes ? Do we store anything in non-base32 in a version of an `/.ipfs` format?

[2020-03-04 21:45] johnnymatthews commented on #446
Nice. I'll add links into the [`ipfs/ipfs-docs-v2:protoschool-cid-tutorial` branch](https://github.com/ipfs/ipfs-docs-v2/tree/protoschool-cid-tutorial).

[2020-03-05 00:06] #446 closed

[2020-03-05 10:50] hsanjuan commented on #442
the keystore files I think, but I'm not sure those go on flatfs. There's a migration almost ready to fix this.

[2020-03-05 12:30] hsanjuan commented on #442
Actually yes, the keystore files go on disk.

[2020-03-05 15:45] johnnymatthews opened #447 "[CONTENT REQUEST] NAT troubleshooting guide."
This issue relates to ipfs/go-ipfs#6952.

**What's the subject of the item you're requesting?**
NAT troubleshooting guide.

**What's the content of the item you're requesting?**
Many people face issues when attempting to connect their node to the IPFS network. One reason is that their node is sat behind network address translation (NAT) on their router.

**What will the user know how to do after g

[2020-03-05 17:11] johnnymatthews opened #448 "Single page static site."

[2020-03-05 17:11] johnnymatthews opened #449 "Multipage site with external assets."

[2020-03-05 17:11] johnnymatthews opened #450 "Static site generators."

[2020-03-05 17:12] johnnymatthews opened #451 "IPNS/DNSLink/ENS"

[2020-03-05 17:14] johnnymatthews opened #452 "Spellcheck."

[2020-03-05 17:14] johnnymatthews opened #453 "Grammar check."

[2020-03-05 17:15] johnnymatthews opened #454 "Broken links check."

[2020-03-05 17:15] johnnymatthews opened #455 "Import from Go-IPFS."

[2020-03-05 17:15] johnnymatthews opened #456 "Import from JS-IPFS."

[2020-03-05 17:18] johnnymatthews opened #457 "What is IPFS?"

[2020-03-05 17:18] johnnymatthews opened #458 "What is IPFS for?"

[2020-03-05 17:18] johnnymatthews opened #459 "Who uses it?"

[2020-03-05 17:19] johnnymatthews opened #460 "Why do people need it?"

[2020-03-05 17:19] johnnymatthews opened #461 "Who builds it?"

[2020-03-05 18:34] #457 closed

[2020-03-05 18:34] #458 closed

[2020-03-05 18:34] #459 closed

[2020-03-05 18:34] #460 closed

[2020-03-05 18:34] #461 closed

[2020-03-05 18:35] johnnymatthews commented on #461
Created and closed through ZenHub as a test. Please ignore.

[2020-03-05 18:35] johnnymatthews commented on #460
Created and closed through ZenHub as a test. Please ignore.

[2020-03-05 18:35] johnnymatthews commented on #459
Created and closed through ZenHub as a test. Please ignore.

[2020-03-05 18:35] johnnymatthews commented on #458
Created and closed through ZenHub as a test. Please ignore.

[2020-03-05 18:35] johnnymatthews commented on #457
Created and closed through ZenHub as a test. Please ignore.

[2020-03-05 18:37] johnnymatthews commented on #438
This issue has been chopped up into #456, #455, #454, #453, and #452.

[2020-03-05 18:37] #438 closed

[2020-03-06 16:55] johnnymatthews opened #462 "Single-source documentation"

[2020-03-06 16:55] johnnymatthews opened #463 "Docs automation"

[2020-03-06 16:55] johnnymatthews opened #464 "Intro for Webdev"

[2020-03-06 17:20] #448 closed

[2020-03-09 12:37] hsanjuan opened #465 "[DOCS ISSUE] Installing IPFS should be the main thing about https://docs-beta.ipfs.io/install/"
**URL of the page in question:**
https://docs-beta.ipfs.io/install/

**What's wrong with this page?**

Clicking on "install IPFS" takes me to a page where the big Headers point to installing Companion, Desktop, Cluster and at the very bottom, actually, IPFS.

(there is a link at the top that I only saw when I was actually forced to read the thing in detail).

**What would you like to have changed/

[2020-03-09 19:47] johnnymatthews commented on #442
Is it worth mentioning that there might be issues with moving things to Windows then? I didn't encounter any, but if it's something that could potentially trip people up then we might want to point that out. No sure what the _fix_ would be if Windows does start complaining.

[2020-03-09 19:51] hsanjuan commented on #442
Not worth, because that potential issue will be fixed by 0.5.0

[2020-03-09 19:53] johnnymatthews commented on #442
Sounds good. I'll close this issue for now then.

[2020-03-09 19:53] #442 closed

[2020-03-09 20:02] johnnymatthews commented on #465
There's a bunch of different ways to _Install IPFS_, either through the desktop app, the terminal, or using something like the browser companion.  Something like the following might be more suitable:

[code]

The Desktop Application section is already being produced in [`ipfs/ipfs-docs-v2:website-on-ipfs`](https://github.com/ipfs/ipfs-docs-v2/blob/website-on-ipfs/docs/how-to/websites-on-ipfs/host-

[2020-03-09 20:11] hsanjuan commented on #465
Yeah, this sounds very good. Also, we could auto-detect the user's OS and show the corresponding instructions.

An example: https://decred.org/ : shows the canonical download (gui app for my OS) that most users will want to use (I guess this would be IPFS Desktop). But gives me the alternative to go to: https://decred.org/wallets/ where I have other alternatives (CLI, 3rd party, mobile stuff, exte

[2020-03-09 21:39] johnnymatthews commented on #465
I'm assuming this is doable @cwaring? It's not super urgent, but it could definitely be a cool feature to have in the future.

[2020-03-09 21:40] jessicaschilling commented on #465
Not directly related to this issue, but eventually I'd like https://dist.ipfs.io/ to be closer to all of the things mentioned above in this thread. I've got this as one of the potential future efforts in our ecosystem audit recommendations: https://ipfs.canny.io/admin/board/ipfs-information-ecosystem-audit-recommendations/p/add-branding-and-context-to-distipfsio

[2020-03-09 22:03] cwaring commented on #465
Yes we could do this with a custom vue component, would be a nice add-on 👌

[2020-03-10 09:25] hsanjuan commented on #465
Maybe avoid sending people to dist.ipfs.io altogether and simply link the actual downloads directly. If we have nice docs and ipfs.io page people should probably not have to navigate the dists page at all (and thus docs team does not have to worry about yet another site).

[2020-03-10 16:05] johnnymatthews commented on #465
For now, yeah this is a good idea.

I'd much rather link to where they can download package/exe/etc from GitHub, with detailed instructions on what to look for and how they can get to the **Releases** tab themselves. This way we can avoid linking to old packages.

[2020-03-10 16:57] jessicaschilling commented on #465
Agreed that it's easier/more effective to put the (automatically generated/automatically updated) list of downloadables either on the docs site or the main ipfs.io, but I'm torn on which one. There's no clear industry pattern for one over the other ... and this actually feeds into a larger issue of whether the main IPFS "sales site" (which is only a few pages) really shouldn't just be a more visua

[2020-03-10 17:52] johnnymatthews commented on #465
💯 👍

For now I'd rather put links to where the reader can download stuff from, and not hard link from the docs. But yeah, it would be nice to have common downloads (desktop app, daemon, browser companion) on ipfs.io.

[2020-03-13 11:15] kevincox opened #466 "[DOCS ISSUE] Page: IPNS"
**URL of the page in question:** https://docs-beta.ipfs.io/concepts/ipns/

**What's wrong with this page?**
It contains no information about creating, backing up and restoring keypairs.

**What would you like to have changed/amended/fixed in order to make things right?**
I would add that information!

[2020-03-13 17:03] johnnymatthews commented on #466
Thanks for bringing this up @kevincox. These issues are being addressed in [`ipfs/ipfs-docs-v2` PR 82](https://github.com/ipfs/ipfs-docs-v2/pull/82).

[2020-03-16 23:49] tulaneadam opened #468 "File Upload on Windows Failed"
The file upload on Windows failed and produced the following error:
"Failed to add files to IPFS. Please try again".  The developer console in chrome is showing the error to be API related.  A gif/video is attached to show how to reproduce the issue.

![screen-capture](https://user-images.githubusercontent.com/5349553/76808629-b7018a00-67be-11ea-8044-c840c27677bf.gif)

[2020-03-16 23:52] tulaneadam commented on #468
I've tested the app in the same way on mac and linux (Debian) and had no issue uploading a file.

[2020-03-16 23:55] jessicaschilling commented on #468
Hi @tulaneadam -- this sounds like a question for the IPFS forums, where you'll have access to input from folks across the IPFS community (this repo is for documentation-specific issues). Can you please post there? https://discuss.ipfs.io/
I'll close this issue in the meantime. Thanks!

[2020-03-16 23:55] #468 closed

[2020-03-16 23:59] tulaneadam commented on #468
Hi Jessica,
Sure, will do.  Sorry for posting in the wrong place.  Love the
application/project!

On Mon, Mar 16, 2020 at 7:55 PM Jessica Schilling <notifications@github.com>
wrote:

[2020-03-16 23:59] jessicaschilling commented on #468
Thanks @tulaneadam! Appreciate your raising this!

[2020-03-17 16:39] terichadbourne opened #469 "Insufficient color contrast for text links"
In working on a fork of this site I discovered that the `$accentColor` that creates the text links on the beta site (both in-line and on the sidebar) doesn't pass contrast checks for accessibility for normal size font on any of the three backgrounds I see it on. Just dropping these reports here (from https://webaim.org/resources/contrastchecker/) in case they're helpful for future accessibility re

[2020-03-17 17:16] jessicaschilling commented on #314
UPDATE: Known text contrast issue in https://github.com/ipfs/docs/issues/469. Please fix based on the analysis found in that issue (which has been closed in favor of this one).

[2020-03-18 15:30] johnnymatthews opened #470 "Go-IPFS 0.5 release"
This is the _epic_ issue for the Go-IPFS 0.5 release. Closing the following issues closes this epic: #471, #472, #473, #474.

This 0.5 release is slated to be the biggest release since the Go-IPFS project started. See the [Road to 0.5 issue in `ipfs/go-ipfs`](https://github.com/ipfs/go-ipfs/issues/6776) for more details regarding the release.

With the release of Go-IPFS 0.5 coming up, we need to

[2020-03-18 23:01] johnnymatthews commented on #470
See [`ipfs/ipfs-docs-v2:go-ipfs-0.5`](https://github.com/ipfs/ipfs-docs-v2/tree/go-ipfs-0.5) branch.

[2020-03-18 23:09] johnnymatthews opened #471 "Features page for Go-IPFS 0.5 release."
The features page should list all the notable new things you can do with the Go-IPFS 0.5 release that you couldn't in previous releases. Features are not bug-fixes. Right now those features are (based off the [IPFS messaging session](https://docs.google.com/document/d/1ZnXAH3yHKeX1nkGUykhiiZnGvBbbyOETKbioa7Xgbag/edit?pli=1#heading=h.dro7mrui6ng9)):

- Improved DHT
- Faster IPNS
- Better Bitswap su

[2020-03-19 03:34] johnnymatthews opened #472 "Fixes page for Go-IPFS 0.5 release."
There have been a bunch of bug fixes that have gone into this release. While they don't all need paragraphs of explanation, there are major changes that would be good to document in a fair amount of detail.

[2020-03-19 03:46] johnnymatthews opened #473 "Update procedure for Go-IPFS 0.5 release."
How does a user update their Go-IPFS installation to the 0.5 release? There's the built-in way, and the manual update process.

[2020-03-19 03:50] johnnymatthews opened #474 "Troubleshooting for Go-IPFS 0.5 release."
There are going to be some hiccups and gotchas regarding the 0.5 release. These should be documented in this section:

## Router behind a NAT

There is currently an issue with node discoverability when they're sat behind an NAT.

[2020-03-19 06:10] momack2 commented on #93
Hey @EricLScace - let us know if you're still working on this, otherwise we can open it back up to other contributors.

[2020-03-19 17:16] johnnymatthews commented on #470
Here's a screen cap the sidebar.

![Annotation 2020-03-19 131501](https://user-images.githubusercontent.com/9611008/77095016-b6960880-69e3-11ea-9f71-358b78fbc782.png)

Having *Go-IPFS 0.5* one of the bolded labels, this gives us room to expand for other major releases like JS-IPFS, or Rust when that comes out.

[2020-03-19 18:18] EricLScace commented on #93
Yes still working.

[2020-03-19 19:03] jessicaschilling commented on #470
Awesome 😊
Would "Release notes" make more sense than "Updates"?

[2020-03-19 19:57] johnnymatthews commented on #470
Yeah, although it's not all strictly release notes. _Releases_ might work better.

[2020-03-19 21:19] jessicaschilling commented on #470
"Recent releases"?
Just to make it really clear that it's not somewhere you can get ALL the releases ... that's the dist.ipfs.io site.

[2020-03-19 21:34] johnnymatthews commented on #470
Good point. Yeah ok, let's go with _Recent releases_.

[2020-03-20 19:29] jessicaschilling opened #475 "Deprecate legacy docs site"
Deprecate the legacy docs site in accordance with the plan created here: https://hackmd.io/-JU3CcXgSgmcXWszyku2PA

**This issue is one of the prioritized recommendations in the [Q1 2020 IPFS Ecosystem Audit](https://github.com/ipfs/community/tree/master/ecosystem-audit) for execution in Q2/Q3 2020. Tagging it with `$auditrecommendation` means it's searchable! See [all tagged issues](https://github

[2020-03-20 19:34] jessicaschilling opened #476 "Enhance and implement through-linked IPFS glossary/dictionary"
**This issue is one of the prioritized recommendations in the [Q1 2020 IPFS Ecosystem Audit](https://github.com/ipfs/community/tree/master/ecosystem-audit) for execution in Q2/Q3 2020. Tagging it with `$auditrecommendation` means it's searchable! See [all tagged issues](https://github.com/ipfs/docs/issues?q=is%3Aissue+%22%24auditrecommendation%22+) in this repo.**

We now have an IPFS glossary for

[2020-03-20 19:38] jessicaschilling commented on #465
Adding notes based on recent conversation with @johnnymatthews:

Our Q1 ecosystem audit included a highly-ranked recommendation to create a Q&A/flowchart-based "what flavor IPFS" guide. @hsanjuan's original concerns here can be remedied by building such a guide, so let's repurpose this issue for achieving this.

See https://ipfs.canny.io/admin/board/ipfs-information-ecosystem-audit-recommendations

[2020-03-20 19:42] jessicaschilling opened #477 "Create "how can IPFS help with..." guides"
**This issue is one of the prioritized recommendations in the [Q1 2020 IPFS Ecosystem Audit](https://github.com/ipfs/community/tree/master/ecosystem-audit) for execution in Q2/Q3 2020. Tagging it with `$auditrecommendation` means it's searchable! See [all tagged issues](https://github.com/ipfs/docs/issues?q=is%3Aissue+%22%24auditrecommendation%22+) in this repo.**

The need: A series of conceptual

[2020-03-20 19:42] jessicaschilling commented on #477
@johnnymatthews -- This could be an excellent item to put out for bounty if you wanted to!

[2020-03-26 09:41] momack2 commented on #85
@johnnymatthews / @jessicaschilling can you ensure we pay this out and move to the "paid" column of the [bounty board](https://github.com/ipfs/devgrants/projects/1)?

[2020-03-26 09:41] momack2 commented on #388
@johnnymatthews / @jessicaschilling can you ensure we pay this out and move to the "paid" column of the [bounty board](https://github.com/ipfs/devgrants/projects/1)?

[2020-03-26 15:48] hsanjuan opened #478 "[CONTENT REQUEST] How to implement API bindings"
This is an issue to track curation and inclusion of https://github.com/ipfs/specs/blob/bc6a32ecff76d4b6e5a19955138305598b1a65eb/overviews/implement-api-bindings.md

That doc contains useful information on how the API works and how it relates to the CLI.

[2020-03-26 17:21] hsanjuan opened #479 "[CONTENT REQUEST] Reading list: papers to understand IPFS"
**This issue is one of the prioritized recommendations in the [Q1 2020 IPFS Ecosystem Audit](https://github.com/ipfs/community/tree/master/ecosystem-audit) for execution in Q2/Q3 2020. Tagging it with `$auditrecommendation` means it's searchable! See [all tagged issues](https://github.com/ipfs/docs/issues?q=is%3Aissue+%22%24auditrecommendation%22+) in this repo.**

Is there an item missing from IP

[2020-03-26 17:32] johnnymatthews commented on #479
Nice find! Didn't even know we had that repo!

This would probably fit best under the **Concepts** section, likely in a sub-section called **Further reading**:

![Annotation 2020-03-26 132926](https://user-images.githubusercontent.com/9611008/77677278-d8543a00-6f65-11ea-9261-bbf103e1ca92.png)

This could be a very quick win, for anyone who wants to pick it up:

1. Create a new sub-section called *

[2020-03-26 17:43] jessicaschilling commented on #479
Note that this is currently mid-ranked in our ecosystem audit recommendations. See:
https://airtable.com/tbl21O1nXqFA7ADcT/viws9P58CvH333ZAW/recQtSEQ9FCcotGAH

[2020-03-26 19:24] johnnymatthews commented on #479
Nice. That recommendation is to add the reading list into the `ipfs.io` website, not the docs. Is this still the case? If so I'll close this issue. No sense in having the same list in two places.

[2020-03-26 19:29] jessicaschilling commented on #479
@johnnymatthews Let's add to the docs, not the website. Please keep this issue open and we'll work it here.

[2020-03-26 20:44] johnnymatthews commented on #479
Ok cool, I'll leave it in here then :)

[2020-03-26 21:00] johnnymatthews commented on #479
No idea why I closed that...

[2020-03-27 19:52] #479 closed

[2020-03-27 23:54] cwaring commented on #412
Completed `npm install -D vuepress-plugin-ipfs`

[2020-03-27 23:54] #412 closed

[2020-03-28 17:51] alexandrtovmach commented on #394
Hello guys,
I'd like to recommend [crowdin.com](https://crowdin.com), we're using it for Node.js translation. It's free to use for open-source projects.

[2020-03-28 17:52] alexandrtovmach commented on #394
I'm just a random developer, that discovered IPFS just today, but I'm ready to contribute and help with translation process. Let me know if it's something that I can help.

[2020-03-28 18:48] RubenKelevra commented on #394
Feel free to assign me for the German translation :)

[2020-03-30 19:30] RubenKelevra commented on #394
I did some googling, weblate.org is IMHO the best-documented open source solution (for translators) for continuous translations. For free projects, they support hosting free of charge.

https://hosted.weblate.org/

[2020-03-30 21:54] johnnymatthews commented on #394
Thanks for looking into this @alexandrtovmach and @RubenKelevra. Localization is not a focus for Q2 2020 (you can take a look at the [objects for Q2 2020 here](https://docs.google.com/spreadsheets/d/1YTnvQ75v0jCuumOM9CPhx0BZHhJzZGy2u2ydU-rPh2w/edit?usp=sharing), currently a work in progress).

With that in mind, if either of you are interested in tackling this issue then feel free to make a fork o

[2020-03-30 22:20] terichadbourne commented on #394
Just want to flag for everyone that the other IPFS sites are using Transifex. If anyone of you would like to explore its compatibility with this docs site or start contributing translations to other IPFS websites, you can [learn more here](https://github.com/ipfs/i18n). I assume we'd have a more ready pool of volunteers if it were possible to include the docs site among the others for which they'r

[2020-03-30 23:08] Andrulko commented on #394
Andriy from Crowdin team is here.  Our solution has WYSIWYG editor for Markdown / HTML / Word files, should be working great for docs translation (Crowdin supports over 50+ formats and direct GitHub sync is available). I'll fork repository and share POC in the thread

[2020-04-01 02:58] RubenKelevra commented on #394
Well, I never found this repo before linked or mentioned... so I guess there are probably some other folks out there with the same information issue :)

@Andrulko great!

I wasn't planning on doing this with the service I discovered. So I appreciate the work :)

[2020-04-03 22:15] hsanjuan opened #481 "[DOCS ISSUE] Better document MFS and it's relation with non-MFS operations"
Tracking a user request at https://github.com/ipfs/go-ipfs/issues/7084#issuecomment-608552812

**URL of the page in question:**

Maybe: https://docs.ipfs.io/guides/concepts/mfs/

**What's wrong with this page?**

See confusion in above thread.

Related: how to manually create and modify unixfs directories (it has come up several times in the last week).

[2020-04-05 21:44] hsanjuan opened #482 "CLI docs outdated"
**URL of the page in question:**
https://docs-beta.ipfs.io/reference/cli/

**What's wrong with this page?**
Outdated

**What would you like to have changed/amended/fixed in order to make things right?**

Good question, can we run the script or do we need to upgrade the script to produce this format?

**Would you be interested in helping fix this page?**
I guess

[2020-04-05 23:15] RubenKelevra commented on #482
@hsanjuan well, wrong repo, but I fixed it:

https://github.com/ipfs/ipfs-docs-v2/pull/155

[2020-04-06 17:59] momack2 opened #483 "[DOCS ISSUE] broken sidenav link"
"Traverse IPLD graphs" in the docs v2 side nav has a broken link: https://github.com/ipfs/js-ipfs/blob/master/packages/ipfs/examples/

[2020-04-06 17:59] momack2 commented on #483
so is https://github.com/ipfs/js-ipfs/blob/master/packages/ipfs/examples/custom-libp2p

[2020-04-06 17:59] momack2 commented on #483
and https://github.com/ipfs/js-ipfs/blob/master/packages/ipfs/examples/circuit-relaying

[2020-04-06 18:01] momack2 commented on #483
Can we do an audit of all the outbound links (and also reconsider whether they SHOULD be outbound links or directly included in the docs website)?

[2020-04-06 18:26] #483 closed

[2020-04-06 18:28] jessicaschilling commented on #483
Closed via https://github.com/ipfs/ipfs-docs-v2/pull/158
Looks like a bunch of linked .md documents in the js-ipfs repo were recently moved. Links have been updated to their new locations.

There's already an issue open to bring the instructional materials in the js-ipfs repo into the docs themselves: https://github.com/ipfs/docs/issues/456. @johnnymatthews, you may wish to prioritize this.

[2020-04-06 18:29] jessicaschilling commented on #456
Suggest we prioritize this; we saw a large number of links in docs broken when content in the js-ipfs repo was rearranged recently.

[2020-04-06 19:19] johnnymatthews commented on #483
Agreed.

[2020-04-06 19:22] johnnymatthews commented on #456
I can take a look at this today while I'm waiting for the 0.5 RC.

[2020-04-08 06:36] momack2 commented on #470
Awesome! Thank you.

[2020-04-08 18:56] momack2 opened #487 "[DOCS ISSUE] Page: The IPFS project"
**URL of the page in question:**
https://docs-beta.ipfs.io/project/

**What's wrong with this page?**
All the content here is very out of date and confusingly orthogonal to the info in github.com/ipfs/roadmap

**What would you like to have changed/amended/fixed in order to make things right?**
Where needed, merge this into ipfs/roadmap, and then deprecate these pages and replace with docs about ou

[2020-04-08 19:01] jessicaschilling commented on #487
Are you actually talking about this page?
https://docs-beta.ipfs.io/project/roadmap/
If so:
- That was material from the old ipfs/ipfs repo
- Suggest removing that page entirely and replacing it with a link out to https://github.com/ipfs/roadmap/blob/master/README.md

[2020-04-09 02:45] momack2 commented on #487
Good point. That is easier and faster than trying to integrate the roadmap in here - and less participatory.

[2020-04-10 01:50] momack2 commented on #93
Do you have a planned ETA? I've been working on an FAQ I'd love to add to a basic description once that's ready.

[2020-04-10 01:53] jessicaschilling commented on #93
Let’s open this back up to other contributors.

[2020-04-11 00:24] jessicaschilling commented on #93
Reassigning to @EricLScace.

[2020-04-16 05:46] tmbdev commented on #481
The doc says:

So, apparently, I can run things like:

[code]

That's nice. Somewhere, there is a mapping from path names to hashes.  The documentation says nothing about how this mapping is established or where it is stored.

My first thought was that `ipfs files` maintains a local key/value store that eventually gets turned into an mDAG. But apparently `ipfs files` refers to a rooted tree stored

[2020-04-16 08:44] hsanjuan commented on #481
Two quick notes (agreeing on most otherwise):

According to the cli docs, this only changes the CID version or hash function of the root node of a given path.

I would be against providing imlementation details in user documentation. How that happens does not (or should not) affect the usage of the feature.

[2020-04-17 17:55] johnnymatthews commented on #474
This issue has been fixed in [ipfs/docs:go-ipfs-0.5](https://github.com/ipfs/ipfs-docs-v2/tree/go-ipfs-0.5)

[2020-04-17 20:11] johnnymatthews commented on #469
We won't be dealing with this right now, but if anyone wants to have a go a fixing this issue that'd be great!

[2020-04-17 20:13] johnnymatthews commented on #464
Pausing this issue until #475 and #470 are near to completion.

[2020-04-17 20:14] johnnymatthews commented on #462
Pausing this issue until #475 and #470 are near to completion.

[2020-04-17 20:14] johnnymatthews commented on #463
Pausing this issue until #475 and #470 are near to completion.

[2020-04-17 20:28] johnnymatthews commented on #88
This issue was created 2 years ago and may not be relevant anymore. I'll close this issue. Feel free to open it again if anyone thinks it's still relevant.

[2020-04-17 20:28] #88 closed

[2020-04-17 21:09] johnnymatthews commented on #93
How's this going @EricLScace? I can see you've added a bunch of commits recently, that's great! Anything I can help out with, or are you still working on things?

[2020-04-17 21:24] EricLScace commented on #93
Still working :-)

I have a checklist of stuff to work through, and will be more consistent about making end-of-day work-in-progress PRs on a branch named issue#93.

[2020-04-17 21:25] johnnymatthews commented on #112
This issue is a couple years old now. Are swarms different to IPFS cluster?

[2020-04-17 21:44] #451 closed

[2020-04-17 21:50] johnnymatthews commented on #466
Gonna close this issue as it's mostly a duplicate of #90. Feel free to re-open if you think this is a significantly different issue.

[2020-04-17 21:50] #466 closed

[2020-04-17 22:26] johnnymatthews commented on #232
This would be an incredible add to the whole IPFS org, but we'll have to put it on the back-burner for the moment. If there's serious push to get this sorted, we can tackle in in Q3.

[2020-04-17 22:34] johnnymatthews commented on #253
Not sure what the _implementation status_ is meant to represent. The original doc has disappeared. Could it just be incorporated into the [IPFS overview homepage](https://docs-beta.ipfs.io/)?

[2020-04-17 22:35] jessicaschilling commented on #253
I think you can close this one.

[2020-04-17 22:35] #253 closed

[2020-04-17 22:44] johnnymatthews commented on #93
Good stuff! Looking forward to reading everything once it's done.

[2020-04-17 22:54] johnnymatthews commented on #257
I'm gonna close this issue. The post is pretty old and not particularly useful.

[2020-04-17 22:54] #257 closed

[2020-04-17 23:24] johnnymatthews commented on #268
Let's find out if the DNSlink.io site is still relevant/up-to-date.

[2020-04-17 23:58] johnnymatthews commented on #487
Marking this as closed as the link's been added. Feel free to re-open this is you think it needs more info/details.

[2020-04-17 23:58] #487 closed

[2020-04-18 18:02] tmbdev commented on #481
For using the feature, it's important to know where/how the root is stored and updated , since users may need to back it up, version control it, reason about concurrent access, etc. That is, you may decide that the storage format itself is an implementation detail, but the fact that it is (or is not) stored in the file system somewhere is something users have to deal with and that you can't hide.

[2020-04-20 08:14] hsanjuan commented on #481
There is no difference between that or any ipfs related data, everything is in `~/.ipfs`.

Did you get the idea that somehow MFS is backed up for you somewhere else so that it would keep state even if you reverted your IPFS repo?

[2020-04-23 17:49] tmbdev commented on #481
MFS could store state in memory/a daemon, in the current working directory, or in IPNS, all places IPFS also already stores state. All of those could be reasonable choices for something like MFS, depending on which use cases you have in mind.

[2020-04-24 13:51] dzhelezov commented on #90
Is this issue still open for grabs?

[2020-04-24 16:04] jessicaschilling commented on #90
Sure is! Just assigned it to you. @johnnymatthews is running the docs show these days, so please check in with him for any questions!

[2020-04-24 16:22] johnnymatthews commented on #90
Hey @dzhelezov! The issue is still open, _but_ with the release of [Go-IPFS 0.5](https://github.com/ipfs/go-ipfs) coming out next week, there's a bunch of changes to this doc just about to go out. So for now, there aren't any major changes necessary for this doc. There's still loads you can help out with though! Check back next week for a fresh set of bounties.

[2020-04-24 16:34] dzhelezov commented on #90
Hi @johnnymatthews! awesome news, thanks for the update! As far as I understood IPNS is going to support ENS, handshake and pretty much any other protocol in a plugin fashion, is it already available in 0.5? Would be happy to cover that as well once available.

[2020-04-26 09:53] DavidBurela opened #494 "[DOCS ISSUE] Page: Command-line quick start"
**URL of the page in question:**
https://docs-beta.ipfs.io/how-to/command-line-quick-start/#install-ipfs

**What's wrong with this page?**
The install quickstart jumps from *"just download the binary"* to advanced *"have a Go dev environment configured"*

**What would you like to have changed/amended/fixed in order to make things right?**
I think the entire system about having a Go environment con

[2020-04-26 09:56] DavidBurela commented on #465
I had a similar concern about the quickstart page, where the install is talking about building from source, instead of how to install go-ipfs or ipfs-update.
#494

[2020-04-26 09:57] DavidBurela commented on #494
Some of the same documentation may be used in this similar issue #465

[2020-04-26 09:58] DavidBurela commented on #465
Here is a good sample of what I expect when I go to an install page for a project
https://helm.sh/docs/intro/install/

even just some bash commands on how to pull down and put into /usr/local/bin, or ipfs-update

[2020-04-26 15:42] johnnymatthews commented on #494
Thanks for raising this @DavidBurela. Let's continue this conversation over in #465.

[2020-04-26 15:42] #494 closed

[2020-04-26 15:42] johnnymatthews commented on #465
This is an important point @DavidBurela, thanks for bringing it up. The entire point of a _Quick start_ to for the reader to get their hands dirty tinkering around with things as soon as possible.

While the command line is the best option for some readers, a more likely _easy-path_ for everyone would be to install the IPFS Desktop App. It's simple to install, and even simpler to use. Towards the

[2020-04-28 14:03] hsanjuan commented on #481
@tmbdev thanks, I see how being more detailed there can help users.

@johnnymatthews I think we have enough feedback to actually write a good guide on MFS.

Do you think this should still be under concepts/MFS, or a different content location? I volunteer myself to write it.

[2020-04-28 18:29] johnnymatthews commented on #471
Go-IPFS 0.5 released!

[2020-04-28 18:29] #471 closed

[2020-04-28 18:29] johnnymatthews commented on #472
Go-IPFS 0.5 released!

[2020-04-28 18:29] #472 closed

[2020-04-28 18:29] johnnymatthews commented on #473
Go-IPFS 0.5 released!

[2020-04-28 18:29] #473 closed

[2020-04-28 18:29] johnnymatthews commented on #474
Go-IPFS 0.5 released!

[2020-04-28 18:29] #474 closed

[2020-04-28 18:30] johnnymatthews commented on #470
Go-IPFS 0.5 released!

[2020-04-28 18:30] #470 closed

[2020-04-28 19:09] johnnymatthews commented on #481
Yeah `/concepts/mfs` works well for the URL. The title of the page should be _Mutable File-Systems (MFS)_, as should the sidebar nav item.

[2020-04-29 10:37] hsanjuan commented on #465
I just saw that `ipfs-update` is not documented as the simplest way to install, upgrade, downgrade go-ipfs. This needs porting: http://docs.ipfs.io.ipns.localhost:8080/guides/guides/install/#installing-with-ipfs-update ?

[2020-04-29 16:42] #482 closed

[2020-04-29 17:14] johnnymatthews opened #497 "Encrypting content on IPFS"
IPFS does not encrypt any content on the network, and there are no plans to do so in the future. We get quite a lot of questions on how to encrypt content on IPFS using other tools. Since encryption is this a common request/pit-fall, let's create some docs around encryption to make IPFS easier to adopt.

[2020-04-29 17:45] johnnymatthews opened #498 "Install IPFS via CLI instructions should use dist.ipfs.io."
Currently the instructions to [install IPFS through the command-line](https://docs-beta.ipfs.io/install/command-line-quick-start/) use GitHub as a source to download the binaries. They should use `dist.ipfs.io` instead.

The [install instructions for Go-IPFS 0.5](https://docs-beta.ipfs.io/recent-releases/go-ipfs-0-5/install/) use `dist.ipfs.io`, so it should be just a case of copying those steps.

[2020-04-29 17:46] johnnymatthews commented on #465
You're right @hsanjuan. The [install](https://docs-beta.ipfs.io/recent-releases/go-ipfs-0-5/install/) and [update](https://docs-beta.ipfs.io/recent-releases/go-ipfs-0-5/update-procedure/) instructions for Go-IPFS 0.5 use `dist.ipfs.io`, but the main `/install` docs do not.

Issue #498 is available for anyone who's got time.

[2020-04-29 18:00] hsanjuan commented on #465
Ok that's an issue but I was talking about the `ipfs-update` tool.

[2020-04-29 18:03] autonome commented on #497
I'd love to see:

* Diagram of where data is and is not encrypted as it enters and leaves the network by default
* Explanation of *transport* encryption vs *content* encryption
* List of example use-cases for which people want *content* encrypted
* Recommendations for best practices for encrypting data for publication/sharing on IPFS
* Pointers to examples where people building with IPFS have impl

[2020-04-29 18:40] johnnymatthews opened #499 "Create docs for ipfs-update."
There is currently no documentation for using `ipfs-update` within the `ipfs/docs` repo. There are instructions on the [`ipfs/ipfs-update` repo](https://github.com/ipfs/ipfs-update/blob/v1.6.0/README.md), however. These instructions should be brought into the `ipfs/docs` repo and updated. These docs can go into `docs.ipfs.io/how-tos/ipfs-update/`. The section should cover:

1. Install `ipfs-update

[2020-04-29 18:41] johnnymatthews commented on #465
Sorry I misunderstood.

Are you talking about `ipfs-update` specific instructions? There are install and usage instructions within the [`ipfs/ipfs-update` repo](https://github.com/ipfs/ipfs-update/blob/v1.6.0/README.md). We should bring them into `ipfs/docs`. Issue #499 addresses this.

[2020-04-29 20:45] hsanjuan commented on #465
The idea would be to make ipfs-update the canonical way to install ipfs (and update, and downgrade).

Downloading directly from dist becomes a secondary way, more hidden.

[2020-04-30 13:59] autonome commented on #497
@carsonfarmer told a good story about how they're doing encrypted content in Textile, should def reach out for input and source material.

[2020-04-30 14:50] jessicaschilling commented on #497
FYI - @ericlscace might be worth contacting about writing this if we can't do in-house (believe it's in his past professional wheelhouse).

[2020-04-30 16:15] hsanjuan commented on #112
A swarm is essentially the name that is given to the libp2p-based network formed by libp2p peers (ipfs among others). I am not sure where this fits in our docs, probably anywhere where we describe what a  peers is, but should be something short.

[2020-04-30 16:23] EricLScace commented on #497
Emailed you back, Johnny. Let's talk later today/tomorrow.

[2020-04-30 19:01] carsonfarmer commented on #497
Cool yes happy to help out there. Additionally, see this discussion re: IPLD signatures and encryption. There's some traction there that myself and @eod have been pursuing more generally: https://github.com/ipld/js-codec-interface/issues/5

[2020-05-01 01:11] autonome commented on #497
See also ipfs/notes#270

[2020-05-01 18:26] johnnymatthews opened #500 "IPFS and encryption"
IPFS deals with encryption in interesting ways. We need a general overview of how IPFS manages encryption, including:

- Where data is and is not encrypted.
- The difference between transport encryption and content encryption.
- Why IPFS doesn't include encryption _at rest_.
- Examples of projects that are using IPFS with encrypted data.

This overview should be similar in size and layout to the [

[2020-05-01 19:05] johnnymatthews opened #501 "Add deprecation alerts to legacy site."
Add a deprecation alert to legacy docs site, pointing users to go to the new site.

[2020-05-01 19:09] johnnymatthews opened #502 "Add “this URL will be changing” messaging to beta site pages."
All URLs in the `docs-beta.ipfs.io` site will be changing to `docs-ipfs.io`. We need a call-out on all pages for this.

[2020-05-01 19:11] johnnymatthews opened #503 "Prepare the necessary redirects and create a master redirect list."
- [x] Document the needed redirects from legacy site to their final destinations post-deprecation (URL on legacy docs.ipfs.io -> another URL on “new” docs.ipfs.io)
- [x] Document the needed redirects from beta site to the final URLs post-deprecation (docs-beta.ipfs.io/foo/bar -> docs.ipfs.io/foo/bar)
- [ ] Double-check throughout for duplication or collision
- [x] Investigate how we’re actually go

[2020-05-01 19:11] johnnymatthews opened #504 "Check for old legacy site redirects."
Are there any old, existing redirects on the legacy site that will be overwritten by our other redirect work? If so, remedy.

[2020-05-01 19:12] johnnymatthews opened #505 "Prepare sitemaps for docs.ipfs.io."
Prepare new sitemaps for Google Search Console/Bing Webmaster Tools

[2020-05-01 19:14] johnnymatthews opened #506 "Examine top inbound-links referrers for proactive-fix opportunities."
- [x] Examine top referrers for inbound links to see if there are any opportunities to directly contact those referrers and ask links to be changed
- [x] Find GitHub repos and add pull-requests to change and relevant links.
- [x] Make forks.
- [ ] Merge after site goes live.

[2020-05-01 19:16] johnnymatthews opened #507 "Remove "this site is in beta" notification."
We’re removing the “this site is in beta” content from page footers, but the links to improving content and filing issues need to remain.

[2020-05-01 19:16] johnnymatthews opened #508 "Determine what needs to be done regarding metrics."
We don’t want to lose our old analytics figures, because we want to use them for comparison. Let's find out how to keep all our data in one place.